<template>
    <Header />

    <div class="data-base page-wrapper">
    <div class="data-base__content">
        <Breadcrumb
            :breadcrumb-data="attackBreadcrumb"
            class="data-base__breadcrumb"
        />
    </div>


    <div class="data-base__content">
        <Filters
            @click-limit="changeCount"
            @sort-by-name="sortByName"
            @update:model-value="handleSearchInput"
        />
    </div>

      <div class="data-base__pagination pagination-wr">
        <paginate
            v-model="page"
            :click-handler="changePage"
            :page-count="pagesCount"
            :page-range="3"
            :margin-page="2"
            :prev-text="'Назад'"
            :next-text="'Вперед'"
            :conteiner-class="'pagination justify-content-center flex-wrap'"
            :page-class="'page-item'"
        ></paginate>
      </div>

    <div class="data-base__accordion-list">
        <FaqAccordion
            v-for="(attack, index) in attacks"
            :faq="attack"
            :opened-faq-id="openedFaqId"
            :key="index + 'faq'"
            @click-accordion="handleAccordionClick"
        >
            <DbRow name="Описание:">
                {{ attack.description }}
            </DbRow>

            <DbRow name="Инструментарий:">
                {{ getNames(attack.tools) }}
            </DbRow>

            <DbRow name="Последствия:">
                {{ getTranslatedNames(attack.consequences) }}
            </DbRow>

            <DbRow name="">
                Уровень влияния: {{ attack.impact_level }}
            </DbRow>

            <DbRow name="">
                CAPEC_ID: {{ attack.capec_id }}
            </DbRow>

            <DbRow name="">
                CAPEC_URL:
                <a
                  :href="attack.capec_url"
                  target="_blank"
                >
                  {{ attack.capec_url }}
                </a>
            </DbRow>

            <DbRow name="Нарушитель:">
                {{ getNames(attack.intruders) }}
            </DbRow>

            <DbRow name="Архетипы:">
                {{ attack.archetypes }}
            </DbRow>

            <DbRow name="Мотивы:">
                {{ getMotiveNames(attack.intruders) }}
            </DbRow>

            <DbRow name="">
              Уязвимости: {{ getNames(attack.weaknesses) }}
            </DbRow>
        </FaqAccordion>
    </div>

      <div class="pagination-wr">
        <paginate
            v-model="page"
            :click-handler="changePage"
            :page-count="pagesCount"
            :page-range="3"
            :margin-page="2"
            :prev-text="'Назад'"
            :next-text="'Вперед'"
            :conteiner-class="'pagination justify-content-center flex-wrap'"
            :page-class="'page-item'"
        ></paginate>
      </div>
    </div>
    <Footer />
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';

import Header from '../../components/common/Header.vue';
import Footer from '../../components/common/Footer.vue';
import Breadcrumb from '../../components/common/Breadcrumb.vue';
import { attackBreadcrumb } from '../../models/breadcrumb';

import {useAttackStore} from "../../store/db/use-attacks-store";

import FaqAccordion from "../../pages/db/FaqAccordion.vue";
import Filters from "../../pages/db/Filters.vue";
import DbRow from "../../components/db/DbRow.vue";
import {getTranslatedNames} from "../../utils/get-translated-names";
import {getNames} from "../../utils/get-names";
import {getMotiveNames} from "../../utils/get-motives";

const { getAttacks, attacks, setLimit, setOrdering, setSearch, pagesCount, setOffset, limit } = useAttackStore();

onMounted(() => getAttacks());

const openedFaqId = ref<number>(0);
const page = ref<number>(0);

const changePage = () => {
  const offset = limit.value * page.value;

  setOffset(offset);
  getAttacks();
};

const handleAccordionClick = (id: number) => {
    const isPreviousActiveFaqId = openedFaqId.value === id;

    if (isPreviousActiveFaqId) {
        openedFaqId.value = 0;

        return;
    }

    openedFaqId.value = id;
};

const changeCount = (count: number) => {
    setLimit(count);

    getAttacks();
}

const sortByName = (sorting: string) => {
  if (sorting === 'ASC') {
    setOrdering('name');
    getAttacks();
  }

  if (sorting === 'DESC') {
    setOrdering('-name');
    getAttacks();
  }
}

const handleSearchInput = (value: string) => {
  setSearch(value);
  setTimeout(getAttacks, 1000);
}
</script>

<style lang="css">
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

.attack-row {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 450px) {
  .attack-row {
    margin-top: 10px;
    gap: 0;
    flex-direction: column;
  }
  .attack-row__name {
    max-width: 100px;
    width: 100%;
  }
}

@media screen and (min-width: 451px) {
  .attack-row {
    margin-top: 0;
    gap: 40px;
    flex-direction: row;
  }
  .attack-row__name {
    max-width: 150px;
    width: 100%;
  }
}

.pagination-wr {
  font-size: 14px;
}
</style>
