<template>
    <div class="data-base">
        <Header />
        <DbList />
    </div>
</template>

<script setup lang="ts">
import Header from '../../components/common/Header.vue';
import DbList from '../../components/db/DbList.vue';
</script>

<style scoped lang="scss">
.data-base{
    display: flex;
    flex-direction: column;
    align-items: center;
}
</style>
