<template>
    <div
        class="faq-accordion"
        :class="{
            '_open': isOpenAccordion
        }"
        @click="emit('click-accordion', props.faq.id)"
    >
        <div class="faq-accordion__content">
            <p class="faq-accordion__title">
                {{ props.faq.name }}
            </p>

            <LachTransition
                name="transition-expand"
                :is-active="isOpenAccordion"
                class="faq-accordion__text"
            >
              <slot></slot>
            </LachTransition>
        </div>
    </div>
</template>

<script setup lang="ts">
    import { computed } from 'vue';
    import LachTransition from './LachTransition.vue';

    interface Props {
        faq: any,
        openedFaqId: any
    }

    const props = defineProps<Props>();

    const isOpenAccordion = computed(() => props.faq.id === props.openedFaqId);

    const emit = defineEmits<{
        (event: 'click-accordion', id: number): void
    }>();
</script>

<style lang="scss">
.faq-accordion {
  font-family: "Sarabun", sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  border: 2px solid #e5e5e5;
  color: black;
  max-width: 1000px;
  width: 100%;
  position: relative;
  margin: auto;
  transition: border .5s ease-in-out;
  font-size: 16px;

  &:hover {
    border-color: #479387;
    cursor: pointer;
  }

  @media screen and (max-width: 1023px) {
    max-width: 750px;
  }

  @media screen and (max-width: 767px) {
    max-width: 440px;
    border: 1px solid #e5e5e5;
  }

  &__arrow-img {
    margin-top: 12px;
    transition: transform .3s ease-in-out;
  }

  &._open {
    border: none;
  }

  &._open &__title {
    background: #c3f7ea;
  }

  &._open &__arrow-img {
    transform: rotate(-180deg);
  }

  &__content {
    width: 100%;
  }

  &__text {
    margin: 10px 24px 10px;
    font-size: 14px;
    line-height: 18px;

    @media screen and (max-width: 479px) {
      font-size: 12px;
    }
  }

  &__title {
    max-width: 1000px;
    width: 100%;
    padding: 20px 40px;
    font-size: 1.4em;
    line-height: 1.2;
    cursor: pointer;

    @media screen and (max-width: 479px) {
      padding: 10px 20px;
      font-size: 14px;
    }
  }
}
</style>
