<template>
  <div class="bd-filters">
    <Input
        :is-dark="true"
        placeholder="Введите название"
        @update:model-value="handleSearchInput"
    />
    <Select
        :options="sortOptions"
        placeholder="Cортировать"
        @update:model-value="sortByName"
    />
    <LimitList @click-limit="handleLimitClick" />
  </div>
</template>

<script setup lang="ts">
import Select from '../../components/common/Select.vue';
import LimitList from '../../components/common/LimitList.vue';
import Input from '../../components/common/Input.vue';

const sortOptions = [
  { id: 'ASC', name: 'От А до Я' },
  { id: 'DESC', name: 'От Я до А' }
];

const emit = defineEmits<{
  (event: 'click-limit', value: number): void;
  (event: 'sortByName', value: string): void;
  (event: 'update:modelValue', value: string): void;
}>();

const handleLimitClick = (count: number) => {
  emit('click-limit', count);
};

const sortByName = (value: string) => {
  emit('sortByName', value);
};

const handleSearchInput = (value: string) => {
  emit('update:modelValue', value);
};
</script>

<style scoped lang="scss">
.bd-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;

  @media screen and (max-width: 1023px) {
    flex-direction: column;
    gap: 20px;
  }
}

.bd-filters div {
  @media screen and (max-width: 451px) {
    max-width: 300px;
  }

  @media screen and (max-width: 1023px) {
    max-width: 400px;
  }
}
</style>
