<template>
  <div>
    <Header />
    <Breadcrumb :breadcrumb-data="incidentsBreadcrumb"/>
    <Footer />
  </div>
</template>

<script setup lang="ts">
import Header from '../../components/common/Header.vue';
import Footer from '../../components/common/Footer.vue';
import Breadcrumb from "../../components/common/Breadcrumb.vue";
import {incidentsBreadcrumb} from "../../models/breadcrumb";
</script>

<style scoped lang="scss">
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
</style>
