<template>
  <transition
      name="transition-expand"
      @enter="enter"
      @after-enter="afterEnter"
      @leave="leave"
  >
    <div v-show="props.isActive">
      <slot />
    </div>
  </transition>
</template>

<script setup lang="ts">
interface Props {
  isActive: boolean;
}

const props = defineProps<Props>();

const enter = (el: Element, done: () => void) => {
  const element = el as HTMLElement;
  element.style.height = 'auto';

  const { height } = getComputedStyle(element);

  element.style.height = '0';

  getComputedStyle(element).height;
  requestAnimationFrame(() => {
    element.style.height = height;
    done();
  });
};

const afterEnter = (el: Element) => {
  const element = el as HTMLElement;
  element.style.height = 'auto';
};

const leave = (el: Element, done: () => void) => {
  const element = el as HTMLElement;
  element.style.height = getComputedStyle(element).height;

  getComputedStyle(element).height;
  requestAnimationFrame(() => {
    element.style.height = '0';
    done();
  });
};
</script>
