<template>
    <Header />

    <div class="data-base page-wrapper">
      <div class="data-base__content">
        <Breadcrumb
            :breadcrumb-data="objectsBreadcrumb"
            class="data-base__breadcrumb"
        />
      </div>

      <div class="data-base__content">
          <Filters
              v-if="isShownFilters"
              @click-limit="changeCount"
              @sort-by-name="sortByName"
              @update:model-value="handleSearchInput"
          />
      </div>

      <div class="data-base__accordion-list">
          <FaqAccordion
              v-for="(object, index) in objects"
              :faq="object"
              :opened-faq-id="openedFaqId"
              :key="index + 'faq'"
              @click-accordion="handleAccordionClick"
          >
            <DbRow name="Сфера:">
              {{ object.domain.name }}
            </DbRow>

            <DbRow name="Уровень критичности:">
              {{ object.criticality_level }}
            </DbRow>

            <DbRow name="Архетипы:">
              {{ object.archetypes }}
            </DbRow>

            <DbRow name="Характеристики:">
              {{ getNames(object.characteristics) }}
            </DbRow>
          </FaqAccordion>
      </div>
    </div>

    <Footer />
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';

import Header from '../../components/common/Header.vue';
import Footer from '../../components/common/Footer.vue';
import Breadcrumb from '../../components/common/Breadcrumb.vue';
import { objectsBreadcrumb } from '../../models/breadcrumb';
import Filters from '../../pages/db/Filters.vue';
import FaqAccordion from "../../pages/db/FaqAccordion.vue";
import { useObjectsStore } from "../../store/db/use-objects-store";
import DbRow from "../../components/db/DbRow.vue";

const { getObjects, objects, setLimit, setOrdering, setSearch } = useObjectsStore();

const isShownFilters = false;
const openedFaqId = ref<number>(0);

onMounted(() => getObjects());

const handleAccordionClick = (id: number) => {
    const isPreviousActiveFaqId = openedFaqId.value === id;

    if (isPreviousActiveFaqId) {
        openedFaqId.value = 0;

        return;
    }

    openedFaqId.value = id;
};


const changeCount = (count: number) => {
  setLimit(count);

  getObjects();
}

const getNames =  (data: any) => {
  const names = data.map((item: any) => item.name + '');

  const uniqueNames = names.filter((item: any, pos: any) => {
    return names.indexOf(item) == pos;
  }).join(', ');

  return uniqueNames;
}

const sortByName = (sorting: string) => {
  if (sorting === 'ASC') {
    setOrdering('name');
    getObjects();
  }

  if (sorting === 'DESC') {
    setOrdering('-name');
    getObjects();
  }
}

const handleSearchInput = (value: string) => {
  setSearch(value);
  setTimeout(getObjects, 1000);
}
</script>
