<template>
  <div>
    <Header />
    <div class="data-base page-wrapper">
    <div class="data-base__content">
      <Breadcrumb
          :breadcrumb-data="risksBreadcrumb"
          class="data-base__breadcrumb"
      />
    </div>

    <div class="data-base__content">
      <Filters
          v-if="isShownFilters"
          @click-limit="changeCount"
          @sort-by-name="sortByName"
          @update:model-value="handleSearchInput"
      />
    </div>

    <div class="data-base__accordion-list">
        <FaqAccordion
            v-for="(risk, index) in risks"
            :faq="risk"
            :opened-faq-id="openedFaqId"
            :key="index + 'faq'"
            @click-accordion="handleAccordionClick"
        >
            Уровень критичности: {{ risk.criticality_level }}
        </FaqAccordion>
    </div>
    </div>
    <Footer />
  </div>
</template>

<script setup lang="ts">
import Header from '../../components/common/Header.vue';
import Footer from '../../components/common/Footer.vue';
import Breadcrumb from '../../components/common/Breadcrumb.vue';
import {risksBreadcrumb} from '../../models/breadcrumb';
import Filters from "../../pages/db/Filters.vue";
import {useRisksStore} from "../../store/db/use-risks-store";
import {onMounted, ref} from "vue";
import FaqAccordion from "../../pages/db/FaqAccordion.vue";
import DbRow from "../../components/db/DbRow.vue";

const { getRisks, risks, setLimit, setOrdering, setSearch } = useRisksStore();

const isShownFilters = false;
const openedFaqId = ref<number>(0);

onMounted(() => getRisks());

const handleAccordionClick = (id: number) => {
  const isPreviousActiveFaqId = openedFaqId.value === id;

  if (isPreviousActiveFaqId) {
    openedFaqId.value = 0;

    return;
  }

  openedFaqId.value = id;
};

const changeCount = (count: number) => {
  setLimit(count);

  getRisks();
}

const sortByName = (sorting: string) => {
  if (sorting === 'ASC') {
    setOrdering('name');
    getRisks();
  }

  if (sorting === 'DESC') {
    setOrdering('-name');
    getRisks();
  }
}

const handleSearchInput = (value: string) => {
  setSearch(value);
  setTimeout(getRisks, 1000);
}
</script>
