<template>
  <div>
    <Header />
    <div class="data-base page-wrapper">
      <div class="data-base__content">
        <Breadcrumb
            :breadcrumb-data="threatsBreadcrumb"
            class="data-base__breadcrumb"
        />
      </div>

      <div class="data-base__content">
        <Filters @click-limit="changeCount" @sort-by-name="sortByName" @update:model-value="handleSearchInput"/>
      </div>

      <div class="data-base__pagination pagination-wr">
        <paginate
            v-model="page"
            :click-handler="changePage"
            :page-count="pagesCount"
            :page-range="3"
            :margin-page="2"
            :prev-text="'Назад'"
            :next-text="'Вперед'"
            :conteiner-class="'pagination justify-content-center flex-wrap'"
            :page-class="'page-item'"
        ></paginate>
      </div>

      <div class="data-base__accordion-list">
        <FaqAccordion
            v-for="(threat, index) in threats"
            :faq="threat"
            :opened-faq-id="openedFaqId"
            :key="index + 'faq'"
            @click-accordion="handleAccordionClick"
        >
          <DbRow name="Описание:">
            {{ threat.description }}
          </DbRow>
        </FaqAccordion>
      </div>

      <div class="pagination-wr">
        <paginate
            v-model="page"
            :click-handler="changePage"
            :page-count="pagesCount"
            :page-range="3"
            :margin-page="2"
            :prev-text="'Назад'"
            :next-text="'Вперед'"
            :conteiner-class="'pagination justify-content-center flex-wrap'"
            :page-class="'page-item'"
        ></paginate>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script setup lang="ts">
import Header from '../../components/common/Header.vue';
import Footer from '../../components/common/Footer.vue';
import Breadcrumb from "../../components/common/Breadcrumb.vue";
import {threatsBreadcrumb} from "../../models/breadcrumb";
import Filters from "../../pages/db/Filters.vue";
import FaqAccordion from "../../pages/db/FaqAccordion.vue";
import {onMounted, ref} from "vue";
import {useThreatsStore} from "../../store/db/use-threats-store";
import DbRow from "../../components/db/DbRow.vue";

const openedFaqId = ref<number>(0);
const page = ref<number>(0);

const { threats, getThreats, setLimit, setOrdering, setSearch, setOffset, limit, pagesCount } = useThreatsStore();

onMounted(() => getThreats());

const changePage = () => {
  const offset = limit.value * page.value;

  setOffset(offset);
  getThreats();
};

const handleAccordionClick = (id: number) => {
  const isPreviousActiveFaqId = openedFaqId.value === id;

  if (isPreviousActiveFaqId) {
    openedFaqId.value = 0;

    return;
  }

  openedFaqId.value = id;
};

const changeCount = (count: number) => {
  setLimit(count);

  getThreats();
}

const sortByName = (sorting: string) => {
  if (sorting === 'ASC') {
    setOrdering('name');
    getThreats();
  }

  if (sorting === 'DESC') {
    setOrdering('-name');
    getThreats();
  }
}

const handleSearchInput = (value: string) => {
  setSearch(value);
  setTimeout(getThreats, 1000);
}
</script>

<style>
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
</style>
