<template>
  <div>
    <Header />

    <div class="data-base page-wrapper">
      <div class="data-base__content">
        <Breadcrumb
            :breadcrumb-data="vulnerabilitiesBreadcrumb"
            class="data-base__breadcrumb"
        />
      </div>

      <div class="data-base__content">
        <Filters @click-limit="changeCount" @sort-by-name="sortByName" @update:model-value="handleSearchInput"/>
      </div>

      <div class="data-base__pagination pagination-wr">
        <paginate
            v-model="page"
            :click-handler="changePage"
            :page-count="pagesCount"
            :page-range="3"
            :margin-page="2"
            :prev-text="'Назад'"
            :next-text="'Вперед'"
            :conteiner-class="'pagination justify-content-center flex-wrap'"
            :page-class="'page-item'"
        ></paginate>
      </div>

      <div class="data-base__accordion-list">
        <FaqAccordion
            v-for="(vulnerability, index) in vulnerabilities"
            :faq="vulnerability"
            :opened-faq-id="openedFaqId"
            :key="index + 'faq'"
            @click-accordion="handleAccordionClick"
        >
          <DbRow name="Описание:">
            {{ vulnerability.description }}
          </DbRow>

          <DbRow name="CVSS vector 3:">
            {{ vulnerability.cvss_vector_3 }}
          </DbRow>

          <DbRow name="Уязвимости:">
            {{ getNames(vulnerability.weaknesses) }}
          </DbRow>

          <DbRow name="Ссылки:">
            <a
                v-for="(link, index) in getVulnerabilityLinks(vulnerability.cwe_cve_links)"
                :key="'vulnerability link' + index"
                :href="link"
                target="_blank"
            >
              <div>
                {{ link }}
              </div>
            </a>
          </DbRow>
        </FaqAccordion>
      </div>
      <div class="pagination-wr">
        <paginate
            v-model="page"
            :click-handler="changePage"
            :page-count="pagesCount"
            :page-range="3"
            :margin-page="2"
            :prev-text="'Назад'"
            :next-text="'Вперед'"
            :conteiner-class="'pagination justify-content-center flex-wrap'"
            :page-class="'page-item'"
        ></paginate>
      </div>
    </div>

    <Footer />
  </div>
</template>

<script setup lang="ts">
import Header from '../../components/common/Header.vue';
import Footer from '../../components/common/Footer.vue';
import Breadcrumb from "../../components/common/Breadcrumb.vue";
import {vulnerabilitiesBreadcrumb} from "../../models/breadcrumb";
import DbRow from "../../components/db/DbRow.vue";
import Filters from "../../pages/db/Filters.vue";
import FaqAccordion from "../../pages/db/FaqAccordion.vue";
import {useVulnerabilitiesStore} from "../../store/db/use-vulnerabilities-store";
import {onMounted, ref} from "vue";
import {getNames} from "../../utils/get-names";
import type {CweCveLink} from "../../abstracts/db/cwe-cve-link";

const { getVulnerabilities, vulnerabilities, setLimit, setOrdering, setSearch, setOffset, limit, pagesCount } = useVulnerabilitiesStore();
const openedFaqId = ref<number>(0);
const page = ref<number>(0);

onMounted(() => getVulnerabilities());

const changePage = () => {
  const offset = limit.value * page.value;

  setOffset(offset);
  getVulnerabilities();
};

const handleAccordionClick = (id: number) => {
  const isPreviousActiveFaqId = openedFaqId.value === id;

  if (isPreviousActiveFaqId) {
    openedFaqId.value = 0;

    return;
  }

  openedFaqId.value = id;
};

const getVulnerabilityLinks = (links: CweCveLink[]) => {
  return links.map(link => link.url);
}

const changeCount = (count: number) => {
  setLimit(count);

  getVulnerabilities();
}

const sortByName = (sorting: string) => {
  if (sorting === 'ASC') {
    setOrdering('name');
    getVulnerabilities();
  }

  if (sorting === 'DESC') {
    setOrdering('-name');
    getVulnerabilities();
  }
}

const handleSearchInput = (value: string) => {
  setSearch(value);
  setTimeout(getVulnerabilities, 1000);
}
</script>

<style>
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
</style>