<template>
    <div class="about-block">
        <img
            src="/images/main-about-us.jpg"
            alt="кафедра БИТ"
            class="about-block__img"
        />

        <div class="about-block__content">
<!--            <div class="about-block__title">-->
<!--                Кто мы?-->

<!--                <arrow-narrow-right-icon />-->
<!--            </div>-->

<!--            <div class="about-block__description">-->
<!--              Наша команда состоит из опытных разработчиков,-->
<!--              аналитиков и экспертов в области информационной и кибербезопасности-->
<!--            </div>-->

          <div class="main-list-item__content">
            <div class="main-list-item__title">
              <router-link to="/about-us">
              Кто мы?
              <arrow-narrow-right-icon />
              </router-link>
            </div>
            <div class="main-list-item__description">
              Наша команда состоит из опытных разработчиков,
              аналитиков и экспертов в области информационной и кибербезопасности.
            </div>
          </div>
<!--            <div class="about-block__link">-->
<!--                <router-link to="/about-us">-->
<!--                    Подробнее-->
<!--                </router-link>-->
<!--            </div>-->
        </div>
    </div>
</template>

<style scoped lang="scss">
.about-block {
  max-width: 1000px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  background-color: rgba(47, 106, 97, 0.1); /* var(--c-green-transparent-010) */
}

@media screen and (max-width: 1024px) { /* Предполагается, что desktop имеет ширину 1024px */
  .about-block {
    max-width: 700px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 768px) { /* Предполагается, что tablet имеет ширину 768px */
  .about-block {
    width: 85%;
    flex-direction: column;
  }
}

.about-block__content {
  padding: 30px 40px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) { /* Предполагается, что desktop имеет ширину 1024px */
  .about-block__content {
    padding: 15px 20px;
  }
}

.about-block__img {
  width: 50%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

@media screen and (max-width: 768px) { /* Предполагается, что tablet имеет ширину 768px */
  .about-block__img {
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.about-block__title {
  font-family: Sarabun, sans-serif; /* Замените на подходящий шрифт */
  font-size: 24px;
  color: #000; /* var(--c-black) */
  font-weight: 500;
}

@media screen and (max-width: 1024px) { /* Предполагается, что desktop имеет ширину 1024px */
  .about-block__title {
    font-size: 20px;
  }
}

.about-block__description {
  margin-top: 15px;
  font-family: Sarabun, sans-serif; /* Замените на подходящий шрифт */
  font-size: 20px;
  color: #000; /* var(--c-black) */
  font-weight: 400;
}

@media screen and (max-width: 1024px) { /* Предполагается, что desktop имеет ширину 1024px */
  .about-block__description {
    margin-top: 5px;
    font-size: 16px;
  }
}

.about-block__link {
  margin-top: 10px;
  text-align: end;
}

.about-block__link a {
  font-family: Sarabun, sans-serif; /* Замените на подходящий шрифт */
  font-size: 20px;
  color: #2F6A61; /* var(--c-green) */
  font-weight: 400;
  text-decoration: none;
}

@media screen and (max-width: 1024px) { /* Предполагается, что desktop имеет ширину 1024px */
  .about-block__link a {
    margin-top: 5px;
    font-size: 16px;
  }
}

a {
  color: black;
}

a:hover {
  transition: color 1s ease-out;
  color: #3cc481;
  text-shadow: 0.1px 0 1px #3cc48122;
}

a:hover svg {
  transition: color 1s, margin-left 1s ease-out;
  stroke: #3cc481;
  margin-left: 20px;
}
</style>
