<template>
  <div
      class="main-list-item"
      :class="{ '_invert': props.pageItem.isInvert }"
      @click="handleClick"
  >
    <img
        :src="props.pageItem.img"
        :alt="props.pageItem.title"
        class="main-list-item__img"
    />
    <div class="main-list-item__content">
      <div class="main-list-item__title">
        {{ props.pageItem.title }}
        <arrow-narrow-right-icon />
      </div>
      <div class="main-list-item__description">
        {{ props.pageItem.description }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';
import type { PageItem } from '../../abstracts/page-item';

interface Props {
  pageItem: PageItem;
}

const props = defineProps<Props>();
const router = useRouter();

const handleClick = () => {
  if (props.pageItem.externalLink) {
    window.open(props.pageItem.externalLink, '_blank'); // Открывает сайт в новой вкладке
  } else {
    router.push(props.pageItem.route); // Выполняет переход по маршруту
  }
};
</script>

<style scoped lang="scss">
/* Стили остаются прежними */
</style>


<style lang="scss">
.main-list-item {
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .main-list-item {
    flex-direction: column;
    padding: 0 50px;
  }
}

@media screen and (max-width: 1400px) {
  .main-list-item {
    max-width: 700px;
  }
}

.main-list-item:hover .main-list-item__title {
  transition: color 1s ease-out;
  color: #3cc481;
  text-shadow: 0.1px 0 1px #3cc48122;
}

.main-list-item:hover .main-list-item__title svg {
  transition: color 1s, margin-left 1s ease-out;
  stroke: #3cc481;
  margin-left: 20px;
}

.main-list-item._invert {
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .main-list-item._invert {
    flex-direction: column;
  }
}

.main-list-item__img {
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  .main-list-item__img {
    max-width: 700px;
  }
}

@media screen and (max-width: 1400px) {
  .main-list-item__img {
    max-width: 350px;
  }
}

.main-list-item__title {
  display: flex;
  align-items: center;
  font-family: Sarabun, sans-serif;
  font-size: 24px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.main-list-item__title svg {
  stroke: #000;
  margin-left: 5px;
}

@media screen and (max-width: 1400px) {
  .main-list-item__title {
    font-size: 20px;
  }
}

.main-list-item__description {
  margin-top: 15px;
  font-family: Sarabun, sans-serif;
  font-size: 20px;
  color: #000;
  font-weight: 400;
}

@media screen and (max-width: 451px) {
  .main-list-item__description {
    font-size: 12px;
  }
}

@media screen and (max-width: 1400px) {
  .main-list-item__description {
    margin-top: 10px;
    font-size: 16px;
  }
}
</style>
