<template>
    <div class="banner">
        <h1 class="banner__title">
            Информационно-аналитический ресурс безопасности киберфизических систем
        </h1>

        <hr class="banner__line" />

        <div class="banner__description">
            Развиваем информационную безопасность
        </div>
    </div>
</template>

<style scoped lang="scss">
.banner {
  position: relative;
  top: -100px;
  width: 100%;
  height: 500px;
  padding: 170px 50px 0;
  z-index: 1; /* замените на подходящее значение */

  text-align: center;

  background-image: url('/images/main-banner.jpg');
  background-size: cover;
}

.banner__title {
  position: relative;
  font-family: Sarabun, sans-serif; /* замените на подходящий шрифт */
  font-size: 40px;
  color: #fff; /* var(--c-white) */
  font-weight: 700;
}

@media screen and (max-width: 450px) { /* Предполагается, что mobile имеет ширину 450px */
  .banner__title {
    font-size: 22px;
  }
}

@media screen and (min-width: 451px) and (max-width: 768px) { /* Предполагается, что mobile имеет ширину 450px */
  .banner__title {
    font-size: 28px;
  }
}

.banner__line {
  width: 25%;
  border-top: 1px solid rgba(0, 0, 0, 0.05); /* var(--c-black-transparent-050) */
}

@media screen and (max-width: 992px) { /* Предполагается, что tablet имеет ширину 992px */
  .banner__line {
    width: 50%;
  }
}

.banner__description {
  margin-top: 20px;
  font-family: Sarabun, sans-serif; /* замените на подходящий шрифт */
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7); /* var(--c-white-transparent-070) */
  font-weight: 300;
}

@media screen and (max-width: 450px) { /* Предполагается, что mobile имеет ширину 450px */
  .banner__description {
    font-size: 14px;
  }
}

@media screen and (min-width: 451px) and (max-width: 768px) { /* Предполагается, что mobile имеет ширину 450px */
  .banner__description {
    font-size: 16px;
  }
}
</style>
