<template>
  <div class="main-list">
      <MainListItem
          v-for="(item, index) in MainPageList"
          :key="index + 'main-list-item'"
          :page-item="item"
      />
  </div>
</template>

<script setup lang="ts">
import MainListItem from "../../components/main/MainListItem.vue";
import { MainPageList } from '../../models/main-page-list.ts'
</script>

<style scoped lang="scss">
.main-list {
    margin: 0 0 40px 0;

    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
}
</style>
