<template>
  <div class="threat-model-service">
    <Header />

    <div class="threat-model-service__menu page-wrapper">
      <Breadcrumb
          :breadcrumb-data="threatModelServiceBreadcrumb"
          class="data-base__breadcrumb threat-model-service__breadcrumb"
      />

      <img
          src="../../../public/images/db/threat.png"
          alt="threat icon"
          class="threat-model-service__icon"
      />

      <div class="threat-model-service__description">
        Cервис рассчитывает модель актуальных угроз для устройства или системы.
        Необходимо указать информацию об объекте для,
        которого выстраивается модель и указать СФХ. В результате сервис предоставит модель угроз,
        включающую в себя данные об объекте, его СФХ, возможных уязвимостях, данные об актуальных атаках и рисков.
        Данные о структурно-функциональных характеристиках можно выбрать из каталога или же
        загрузить из личного кабинета, если раннее пользовались сервисом анализа СФХ.
      </div>

      <div class="threat-model-service__form">
        <el-input
            v-model="value"
            placeholder="Имя объекта"
        />

        <Select
            :options="domains"
            placeholder="Домен"
            @update:model-value="setDomain"
        />

        <Select
            :options="characteristics"
            multiple
            placeholder="Характеристики"
            @update:model-value="setCharacteristics"
        />

        <Select
            v-if="userSfcs"
            multiple
            :options="userSfcs"
            placeholder="СФХ из личного кабинета"
            @update:model-value="setSelectedAccountSfc"
        />

        <Select
            multiple
            :options="sfcs"
            placeholder="СФХ из каталога"
            @update:model-value="setSelectedSfcCatalog"
        />
      </div>

      <Button
          text="Получить модель угроз"
          @click-button="handleSfcButton()"
          class="threat-model-service__button _small"
      />

      <!-- Компонент уведомления -->
      <Notification
          v-if="notificationMessage"
          :isError="isError"
          :message="notificationMessage"
          :duration="5000"
      />
    </div>

    <Footer />
  </div>
</template>

<script setup lang="ts">
import Header from "../../components/common/Header.vue";
import {threatModelServiceBreadcrumb} from "../../models/breadcrumb";
import Breadcrumb from "../../components/common/Breadcrumb.vue";
import Button from "../../components/common/Button.vue";
import Footer from "../../components/common/Footer.vue";
import Select from "../../components/common/Select.vue";
import Notification from "../../components/common/Notification.vue";
import {useUserDataStore} from "../../store/account/use-user-data-store.ts";
import {useSfcsStore} from "../../store/db/use-sfcs-store.ts";
import {onMounted, ref, computed, reactive} from "vue";
import {useDomainsStore} from "../../store/use-domains-store.ts";
import {useCharacteristicsStore} from "../../store/use-characteristics-store.ts";
import {useThreatsStore} from "@/store/db/use-threats-store";

const { userSfcs, getUserSfcs } = useUserDataStore();
const { sfcs, getSfcsWithoutLimit } =  useSfcsStore();
const { getDomains, domains } = useDomainsStore();
const { getCharacteristics, characteristics} = useCharacteristicsStore();
const { sendThreatServiceData } = useThreatsStore();

const selectedAccountSfc = ref<any[]>([]);
const selectedSfcCatalog = ref<any[]>([]);

const test = reactive<any>({
  object_name: '',
  characteristics_id: '',
  domain_id: '',
  sfcs_id: ''
});

const notificationMessage = ref<string | null>(null);
const isError = ref(false);

onMounted(() => {
  getUserSfcs();
  getSfcsWithoutLimit();
  getDomains();
  getCharacteristics();
});

const value = computed({
  get: () => test.object_name,
  set: (value) => {
    test.object_name = value;
  }
});

const setDomain= (value: any) => {
  test.domain_id = value;
}

const setCharacteristics = (value: any) => {
  test.characteristics_id = value.toString();
}

const setSelectedAccountSfc = (value: any) => {
  selectedAccountSfc.value = value;
  test.sfcs_id = [
    ...value,
    ...selectedSfcCatalog.value
  ].toString();
}

const setSelectedSfcCatalog = (value: any) => {
  selectedSfcCatalog.value = value;
  test.sfcs_id = [
    ...value,
    ...selectedAccountSfc.value
  ].toString();
}

const handleSfcButton = async () => {
  const response = await sendThreatServiceData(test);

  if (response?.status === 200) {
    isError.value = false;
    notificationMessage.value = "Запрос выполнен успешно! Скоро начнется скачивание файла с результатом. Результат продублируется и в личном кабинете.";
  } else {
    isError.value = true;
    notificationMessage.value = "Что-то пошло не так! Повторите попытку позже.";
  }



  // Очистить сообщение через 5 секунд
  setTimeout(() => {
    notificationMessage.value = null;
  }, 5000);
};
</script>

<style scoped lang="scss">
.threat-model-service__description {
  font-size: 16px;
  font-family: "Sarabun", sans-serif;
  margin: 30px 0;
  max-width: 750px;
  text-align: center;

  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

.threat-model-service__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}

.threat-model-service__icon {
  margin-top: 40px;
}

.threat-model-service__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  gap: 20px;

  @media screen and (max-width: 767px) {
    input {
      max-width: 500px;
    }

    div {
      max-width: 500px;
    }
  }

  @media screen and (max-width: 451px) {
    input {
      max-width: 300px;
    }

    div {
      max-width: 300px;
    }
  }
}

.threat-model-service__button {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 30px;

  @media screen and (max-width: 767px) {
    max-width: 250px;
    font-size: 15px;
    line-height: 15px;
  }
}

.threat-model-service__breadcrumb {
  margin-top: 20px
;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
</style>