<template>
  <div>
    <!-- Меню с табами -->
    <div class="tabs">
      <button
          :class="{'active': activeTab === 'attacks'}"
          @click="activeTab = 'attacks'"
      >
        Атаки
      </button>
      <button
          :class="{'active': activeTab === 'vectors'}"
          @click="activeTab = 'vectors'"
      >
        Вектора атак
      </button>
    </div>

    <!-- Содержимое раздела "Атаки" -->
    <div v-if="activeTab === 'attacks'">
      <div
          v-for="(userAttackName, index) in userAttackNames()"
          :key="userAttackName + index"
      >
        <h2 class="account-sfc__title">
          СФХ: {{ userAttackName }}
        </h2>

        <div class="account-sfc__my-sfc">
          <div class="attacks__table">
            <div class="attacks__table-attacks-header">
              <div class="attacks__table-attacks-title">
                Атака
              </div>

              <div class="attacks__table-stage-title">
                Этап
              </div>
            </div>
            <div class="attacks__table-body">
              <div
                  class="attacks__table-row"
                  v-for="attack in getAttacksFromSfc()"
                  :key="attack.id"
              >
                <div class="attacks__table-attack">
                  {{ attack.name }}
                </div>
                <div class="attacks__table-stage">
                  {{ attack.stage }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Содержимое раздела "Вектора атак" -->
    <div v-if="activeTab === 'vectors'">
      <div class="account-sfc__my-sfc">
       <AttackVectors />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { useUserDataStore } from "../../store/account/use-user-data-store.ts";
import AttackVectors from "@/pages/AttackVectors.vue";

const { userAttacks } = useUserDataStore();

// Активная вкладка, по умолчанию "Атаки"
const activeTab = ref('attacks');

const userAttackNames = () => {
  return userAttacks.value.map((userAttack: any) => userAttack.name);
}

const getAttacksFromSfc = () => {
  const [vulnerabilities] = userAttacks.value.map((userAttack: any) => userAttack.vulnerabilities);
  const [weaknesses] = vulnerabilities.map((vulnerability: any) => vulnerability.weaknesses);
  const [attacks] = weaknesses.map((weakness: any) => weakness.attacks);

  return attacks;
}
</script>

<style scoped lang="scss">
.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 30px;
}

.tabs button {
  width: 50%;
  padding: 12px 0;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #2f6a61;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}

.tabs button.active {
  background-color: #2f6a61;
  color: white;
  border-bottom: 2px solid #49a585;
}

.tabs button:hover {
  background-color: #49a585;
  color: white;
  transition: all 0.3s ease;
}

.attacks__table {
  display: flex;
  flex-direction: column;
  max-width: 980px;
}

.attacks__table-row {
  display: flex;
  flex-direction: row;
}

.attacks__table-attack {
  max-width: 800px;
  width: 100%;
  padding: 8px;
  border: 0.1px solid #c0c0c0;
}

.attacks__table-stage {
  max-width: 180px;
  width: 100%;
  padding: 8px;
  border: 0.1px solid #c0c0c0;
}

.attacks__table-attacks-title {
  max-width: 800px;
  width: 100%;
  padding: 10px 25px;
  background-color: #2f6a61;
  color: white;
  border: 0.1px solid #c0c0c0;
  font-size: 16px;
  text-align: center;
}

.attacks__table-stage-title {
  max-width: 180px;
  width: 100%;
  padding: 10px 25px;
  background-color: #2f6a61;
  border: 0.1px solid #c0c0c0;
  color: white;
  font-size: 16px;
  text-align: center;
}

.attacks__table-attacks-header {
  display: flex;
}

.attacks__table-body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.account-sfc__my-sfc {
  font-family: "Sarabun", sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
}

.account-sfc__title {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #000;
  font-weight: 500;
  text-align: center;
}
</style>
