<template>
  <div class="account-sfc__my-sfcs-wrapper">
      <div
          v-for="(userSfc, index) in userSfcs"
          :key="userSfc.name + index"
          class="account-sfc__my-sfc"
      >
          {{ userSfc.name }}
      </div>
  </div>
</template>

<script setup lang="ts">
import {useUserDataStore} from "../../store/account/use-user-data-store.ts";

const { getUserSfcs, userSfcs } = useUserDataStore();

getUserSfcs();
</script>

<style scoped lang="scss">
.account-sfc__my-sfc {
  font-family: "Sarabun", sans-serif;
    width: 480px;
    padding: 15px 25px;
    color: black;
    font-size: 16px;
    text-align: center;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    box-shadow:
      0 8px 25px 0 rgba(0, 0, 0, 0.10) inset,
      0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;

}

.account-sfc__my-sfcs-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
</style>