<template>
    <div
        v-for="name in getVulnerabilitiesNames()"
        :key="name"
    >
      <h2 class="account-sfc__title">
          СФХ: {{ name }}
      </h2>

      <div class="account-sfc__my-sfc">
            <div class="attacks__table">
              <div class="attacks__table-attacks-header">
                <div class="attacks__table-attacks-title">
                  Уязвимости
                </div>
              </div>
              <div class="attacks__table-body">
                <div
                    class="attacks__table-row"
                    v-for="attack in getVulnerabilities()"
                    :key="attack.id"
                >
                  <div class="attacks__table-attack">
                    {{ attack.name }}
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>
</template>

<script setup lang="ts">
import {useUserDataStore} from "../../store/account/use-user-data-store.ts";
import {getNames} from "../../utils/get-names.ts";
import DbRow from "../../components/db/DbRow.vue";
import type {CweCveLink} from "../../abstracts/db/cwe-cve-link.ts";

const { userVulnerabilities } = useUserDataStore();

const getVulnerabilityLinks = (links: CweCveLink[]) => {
  return links.map(link => link.url);
}

const getVulnerabilitiesNames = () => {
    return userVulnerabilities.value.map((vul: any) => vul.name);
}

const getVulnerabilities = () => {
    const [vulnerabilities] = userVulnerabilities.value.map((vul: any) => vul.vulnerabilities);
    return vulnerabilities
}

</script>

<style scoped lang="scss">
.account-sfc__my-sfcs {
    display: flex;
    max-width: 800px;
    width: 100%;
    justify-content: center;
  }

.account-sfc__my-sfc {
  font-family: "Sarabun", sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.account-sfc__title {
    color: #000;
    font-weight: 500;
    font-size: 20px;

    margin-top: 40px;
    text-align: center;
  }

.account-sfc__my-sfcs-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    margin-bottom: 40px;
  }

.attacks__table {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.attacks__table-row {
  display: flex;
  flex-direction: row;
}

.attacks__table-attack {
  width: 400px;
  padding: 8px;
  border: 0.1px solid #c0c0c0;
}

.attacks__table-attacks-title {
  max-width: 800px;
  width: 100%;
  padding: 10px 25px;
  background-color: #2f6a61;
  color: white;
  border: 0.1px solid #c0c0c0;
  font-size: 16px;
  text-align: center;
}

.attacks__table-attacks-header {
  display: flex;
}

.attacks__table-body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.attacks__table-header {
  display: flex;
}
</style>