<template>
  <div class="file-list">
    <h1>Список отчетов</h1>
    <ul>
      <li v-for="item in filteredReports()" :key="item.id" class="file-item">
        <div class="file-header">
          <span>{{ getReportName(item.file, item.created_at) }}</span>
          <div class="file-buttons">
            <button @click="downloadFile(item.id)">Скачать</button>
            <button @click="toggleDetails(item.id, item.file)">
              {{ isDetailsVisible(item.id) ? 'Скрыть детали' : 'Показать детали' }}
            </button>
          </div>
        </div>

        <div v-if="isDetailsVisible(item.id)" class="file-details">
          <h3>Детали отчета</h3>
          <div v-if="itemDetails[item.id]">
            <p><strong>Объект:</strong> {{ itemDetails[item.id].object_name }}</p>
            <p><strong>Домен:</strong> {{ itemDetails[item.id].domain }}</p>

            <h4>Характеристики:</h4>
            <ul class="characteristics">
              <li v-for="(char, index) in itemDetails[item.id].characteristics" :key="index">
                {{ char.name }}
              </li>
            </ul>

            <h4>SFC объекты:</h4>
            <ul class="sfcs">
              <li v-for="(sfc, index) in itemDetails[item.id].sfcs" :key="sfc.id">
                <strong>{{ sfc.name }}</strong> (ID: {{ sfc.id }})
              </li>
            </ul>

            <div v-if="itemDetails[item.id].threats.length">
              <h4>Угрозы:</h4>
              <ul class="threats">
                <li v-for="(threat, index) in itemDetails[item.id].threats" :key="index">
                  {{ threat }}
                </li>
              </ul>
            </div>
            <div v-else>
              <p><strong>Угрозы:</strong> Нет угроз</p>
            </div>
          </div>
          <div v-else>
            <p>Загрузка данных...</p>
          </div>
        </div>
      </li>
    </ul>

    <p v-if="filteredReports().length === 0">Нет доступных отчетов для скачивания.</p>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { ApiRequest } from "@/models/ApiRequest";
import axios from 'redaxios';
import {getHost} from "@/utils/get-host";  // Убедитесь, что axios импортирован

const api = new ApiRequest();

// Типизация данных, которые возвращает API
interface Report {
  id: number;
  file: string | null;
  created_at: string;
  response_type: number;
  user: number;
}

interface ReportDetails {
  object_name: string;
  domain: string;
  characteristics: { name: string }[];
  sfcs: { id: number; name: string; sfc_type: string | null; vulnerabilities: any[] }[];
  threats: string[];
}

// URL API
const apiUrl = 'members/threats_service_reports/';

// Состояние для хранения списка отчетов
const reports = ref<Report[]>([]);

// Состояние для хранения раскрытых отчетов
const expandedReports = ref<number[]>([]);

// Состояние для хранения деталей каждого отчета
const itemDetails = ref<Record<number, ReportDetails>>({});

// Получаем данные с сервера при монтировании компонента
const fetchReports = async () => {
  try {
    const response = await api.get(apiUrl);
    reports.value = response.data.results;
  } catch (error) {
    console.error('Ошибка при получении данных:', error);
  }
};

// Фильтрация отчетов, у которых заполнено поле file
const filteredReports = () => {
  return reports.value.filter(report => report.file !== null);
};

// Формирование названия отчета
const getReportName = (fileUrl: string | null, createdAt: string) => {
  const date = new Date(createdAt).toLocaleDateString('ru-RU');
  return `Отчет - ${date}`;
};

// Функция для скачивания файла
const downloadFile = async (fileId: string | number) => {
  const url = getHost() + 'members/threats_service_reports/' + fileId.toString() + '/xlsx/';

  if (!fileUrl) return;

  try {
    // Выполняем запрос на получение файла как Blob
    const response = await axios.get(url, {
      responseType: 'blob',
    });

    // Если статус не 200, выбрасываем ошибку
    if (response.status !== 200) {
      throw new Error(`Ошибка загрузки файла: ${response.status}`);
    }

    // Создаем URL для скачивания
    const blobUrl = window.URL.createObjectURL(new Blob([response.data]));

    // Создаем временную ссылку для скачивания файла
    const link = document.createElement('a');
    link.href = blobUrl;

    // Получаем имя файла из URL
    const fileName = url.split('/').pop() || 'download.json';
    link.setAttribute('download', fileName);

    // Программно кликаем на ссылку для начала скачивания
    document.body.appendChild(link);
    link.click();

    // Очищаем ссылку после скачивания
    document.body.removeChild(link);
    window.URL.revokeObjectURL(blobUrl);

  } catch (error) {
    console.error('Ошибка при скачивании файла:', error);

    // Дополнительное уведомление об ошибке
    alert('Произошла ошибка при скачивании файла. Пожалуйста, попробуйте снова позже.');
  }
};

// Проверяем, является ли элемент раскрытым
const isDetailsVisible = (id: number) => {
  return expandedReports.value.includes(id);
};

// Функция для показа/скрытия деталей
const toggleDetails = async (id: number, fileUrl: string | null) => {
  if (isDetailsVisible(id)) {
    expandedReports.value = expandedReports.value.filter(reportId => reportId !== id);
  } else {
    expandedReports.value.push(id);

    // Если детали ещё не загружены, загружаем их
    if (!itemDetails.value[id] && fileUrl) {
      try {
        const response = await fetch(fileUrl);
        if (!response.ok) throw new Error(`Ошибка загрузки файла: ${response.statusText}`);

        const data = await response.json();
        itemDetails.value[id] = data;
      } catch (error) {
        console.error('Ошибка при загрузке файла:', error);
      }
    }
  }
};

// Вызов функции получения данных при монтировании компонента
onMounted(() => {
  fetchReports();
});
</script>

<style lang="scss">
.file-list {
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .file-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .file-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      span {
        font-size: 18px;
        font-weight: bold;
        color: #333;
      }

      .file-buttons {
        button {
          margin-left: 10px;
          background-color: #2F6A61;
          color: white;
          border: none;
          padding: 8px 12px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 14px;

          &:hover {
            background-color: #59b2a4;
          }
        }
      }
    }

    .file-details {
      background-color: #fff;
      padding: 15px;
      border-radius: 8px;
      border: 1px solid #ddd;

      h3 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      p, ul {
        margin: 5px 0;
        font-size: 16px;
        line-height: 1.5;
        color: #555;
      }

      ul {
        padding-left: 20px;
        list-style-type: disc;
      }

      .characteristics, .sfcs, .threats {
        margin-bottom: 10px;

        li {
          margin-bottom: 5px;
        }
      }

      .threats {
        color: red;
      }
    }
  }

  p {
    font-size: 16px;
    color: #666;
    text-align: center;
  }
}
</style>
