<template>
  <div class="user-info">
    <div class="user-info__name">
      {{ userInfo.firstName }}
      {{ userInfo.lastName  }}
    </div>

    <Button
        text="Выйти из аккаунта"
        class="user-info__button"
        @click-button="handleLogout()"
    />
  </div>
</template>

<script setup lang="ts">
import {ApiRequest} from "../../models/ApiRequest.ts";
import {onBeforeMount, reactive} from "vue";
import Button from "../../components/common/Button.vue";
import {useAuthStore} from "@/store/use-auth-store";

const api = new ApiRequest();
const userInfo = reactive({
  email: '',
  firstName: '',
  lastName: '',
  pk: 0
});

const { setUser } = useAuthStore();

onBeforeMount(async () => await getUser());

const getUser = async () => {
  const user = await api.get('auth/user/');

    if (!user) {
      return
    }

     userInfo.email = user.data.email;
     userInfo.firstName = user.data.first_name;
     userInfo.lastName = user.data.last_name;
     userInfo.pk = user.data.pk;

    setUser(user.data)

  return user.data
};

const handleLogout = async () => {
    await api.post('auth/logout/', {}); // Отправляем запрос на сервер для выхода
    window.location.href = '/'; // Перенаправляем пользователя на главную страниц
};
</script>

<style lang="scss">
.user-info {
    display: flex;
    gap: 20px;

    font-size: 20px;
}

.user-info__button {
  font-size: 14px;
  background-color: #2f6a61;
  color: white;
  padding: 0 40px;
}

</style>
