<template>
  <div class="vulnerability-service">
    <Header />

    <Notification
        v-if="showNotification"
        :message="notificationMessage"
        :isError="isErrorNotification"
        :duration="5000"
    />

    <div class="vulnerability-service__menu page-wrapper">
      <Breadcrumb
          :breadcrumb-data="vectorAttackServiceBreadcrumb"
          class="data-base__breadcrumb vulnerability-service__breadcrumb"
      />

      <img
          src="../../../public/images/db/attack.png"
          alt="attack icon"
          class="vulnerability-service__icon"
      />

      <div class="vulnerability-service__description">
        Данный сервис позволит рассчитать вектора атак для структурно-функциональных характеристик
        устройства или системы. Вектор атак состоит из 3 этапов: точка входа, вектор атак и нарушение функции
        безопасности. Для получения результата нужно загрузить файл с данными об устройстве или
        системе, который получен с помощью сервиса анализа СФХ.

        Также Вы можете выбрать структурно-функциональные характеристики из каталога СФХ.
        Это позволит без сканирования отобразить для определенных СФХ принадлежащие им этапы атаки.
      </div>

      <Button
          text="Получить атаки для СФХ из личного кабинета"
          @click-button="getUserAttacksFile()"
          class="vulnerability-service__button _small"
      />

      <div class="vulnerability-service__button-menu">
        <Select
            v-if="userSfcs"
            multiple
            :options="userSfcs"
            placeholder="СФХ из личного кабинета"
            @update:model-value="setSelectedAccountSfc"
        />

        <Select
            multiple
            :options="sfcs"
            placeholder="СФХ из каталога"
            @update:model-value="setSelectedSfcCatalog"
        />
      </div>

      <Button
          v-if="selectedAccountSfc.length !== 0 || selectedSfcCatalog.length !== 0"
          text="Получить атаки по выбранным СФХ"
          @click-button="handleSfcButton()"
          class="vulnerability-service__button _small"
      />

      <Title :title="'Конструктор вектора атак'" class="vulnerability-service__title" />

      <div v-for="(item, index) in selectesSfcsForAttacks" :key="'selectesSfcsForAttacks' + index" class="vulnerability-service__sfcs-form">
        <div class="vulnerability-service__subtitle">
          Выберите СФХ
        </div>

        <div class="vulnerability-service__button-menu">
          <Select
              v-if="userSfcs"
              :options="userSfcs"
              :form-index="index"
              placeholder="СФХ из личного кабинета"
              @update:model-value="newSetter"
              @update:index="setIndex"
          />

          <Select
              :options="sfcs"
              :form-index="index"
              placeholder="СФХ из каталога"
              @update:model-value="newSetter"
              @update:index="setIndex"
          />
        </div>

        <div class="vulnerability-service__title">
          Исследуемая СФХ: {{ item.sfcName || '' }}
        </div>

        <div v-if="attacksInfoString !== ''" class="vulnerability-service__subtitle">
          {{ attacksInfoString }}
        </div>

        <div v-if="attacksInfoArray.length !== 0 && newSelectedSfcName !== ''">
          <div class="vulnerability-service__button-menu">
            <Select
                v-if="zeroAttackStage"
                multiple
                :options="zeroAttackStage"
                placeholder="Точка входа"
                @update:model-value="setSelectedZeroAttackStage"
                @update:index="setAttackIndex"
                style="width: 250px"
            />

            <Select
                v-if="firstAttackStage"
                multiple
                :options="firstAttackStage"
                placeholder="Вектор атаки"
                @update:model-value="setSelectedFirstAttackStage"
                @update:index="setAttackIndex"
                style="width: 250px"
            />

            <Select
                v-if="secondAttackStage"
                multiple
                :options="secondAttackStage"
                placeholder="Нарушение безопасности"
                @update:model-value="setSelectedSecondAttackStage"
                @update:index="setAttackIndex"
                style="width: 250px"
            />
          </div>
        </div>

        <div class="vulnerability-service__remove-button">
          <Button
              text="Удалить СФХ"
              @click-button="removeSfcForm(index)"
              class="vulnerability-service__button _small"
          />
        </div>
      </div>

      <div class="vulnerability-service__bottom-buttons">
        <Button
            text="Добавить СФХ"
            @click-button="addSfcForm()"
            class="vulnerability-service__button _small"
        />

        <Button
            v-if="selectesSfcsForAttacks.length"
            text="Сформировать результат"
            @click-button="handleResultButton()"
            class="vulnerability-service__button _small"
        />
      </div>
    </div>

    <Footer />
  </div>
</template>


<script setup lang="ts">
import Header from "../../components/common/Header.vue";
import {vectorAttackServiceBreadcrumb} from "../../models/breadcrumb";
import Breadcrumb from "../../components/common/Breadcrumb.vue";
import Button from "../../components/common/Button.vue";
import Footer from "../../components/common/Footer.vue";
import Select from "../../components/common/Select.vue";
import {useUserDataStore} from "../../store/account/use-user-data-store.ts";
import {useSfcsStore} from "../../store/db/use-sfcs-store.ts";
import {onMounted, ref} from "vue";
import Title from "@/components/common/Title.vue";
import {useAttackStore} from "@/store/db/use-attacks-store";
import Notification from "@/components/common/Notification.vue";

const { userSfcs, getUserSfcs, getUserAttacksFile, getCustomAttacksFile, getAttackBySfcId } = useUserDataStore();
const { sfcs, getSfcsWithoutLimit } =  useSfcsStore();
const { sendVectorAttack } = useAttackStore();

const selectedAccountSfc = ref<any[]>([]);
const selectedSfcCatalog = ref<any[]>([]);

const attackIndex = ref<any[]>([]);

const newSelectedSfcName = ref<string>('');
const newSelectedSfcId = ref<number>(0);
const attacksInfoArray = ref<any[]>([])
const attacksInfoString = ref<string>('')
const zeroAttackStage = ref<any[]>([]);
const firstAttackStage = ref<any[]>([]);
const secondAttackStage = ref<any[]>([]);
const selectedZeroAttackStage = ref<any[]>([]);
const selectedFirstAttackStage = ref<any[]>([]);
const selectedSecondAttackStage = ref<any[]>([]);

const selectesSfcsForAttacks = ref<SfcForm[]>([]);

const showNotification = ref(false);
const notificationMessage = ref('');
const isErrorNotification = ref(false);

interface SfcForm {
  formIndex: number,
  sfcIndex: number,
  sfcName: string
}

onMounted(() => {
  getUserSfcs();
  getSfcsWithoutLimit();
  const elInput = document.querySelector('.el-input__inner');
  if (elInput) {
    elInput!.style.borderColor = '#2f6a61';
    elInput!.style.boxShadow = '0 0 5px rgba(47, 106, 97, 0.5)';
  }
});

const setSelectedZeroAttackStage  = (value: any) => {
  selectedZeroAttackStage.value = value;
}

const setSelectedFirstAttackStage = (value: any) => {
  selectedFirstAttackStage.value = value;
}

const setSelectedSecondAttackStage= (value: any) => {
  selectedSecondAttackStage.value = value;
}

const setSelectedAccountSfc = (value: any) => {
  selectedAccountSfc.value = value;
}

const setSelectedSfcCatalog = (value: any) => {
  selectedSfcCatalog.value = value;
}

const setIndex = (value: number) => {
  selectesSfcsForAttacks.value.forEach((form, index) => {
      if (value === index) {
        form.formIndex = value
        form.sfcIndex =  newSelectedSfcId.value
        form.sfcName = newSelectedSfcName.value
      }
  })
}

const setAttackIndex = (index: number) => {
  if (attackIndex.value.length === 0) {
    attackIndex.value.push({
      formIndex: index,
      attacks: [
          ...selectedFirstAttackStage.value,
          ...selectedZeroAttackStage.value,
          ...selectedSecondAttackStage.value
      ]
    })
  }

  attackIndex.value = attackIndex.value.map(item => {
        if (item.formIndex === index) {
            return {
                formIndex: index,
                attacks: [
                  ...selectedFirstAttackStage.value,
                  ...selectedZeroAttackStage.value,
                  ...selectedSecondAttackStage.value
                ]
            }
        }
    })
}

const addSfcForm = () => {
    selectesSfcsForAttacks.value.push({
        formIndex: 0,
        sfcIndex: 0
    })
}

const removeSfcForm = (index: number) => {
    selectesSfcsForAttacks.value = selectesSfcsForAttacks.value.filter(item => item.formIndex != index);
}

const newSetter = async (value: any) => {
  const [currentSfc] = sfcs.value.filter(sfc => sfc.id === value);
  const [currentUserSfc] = userSfcs.value.filter((sfc: any) => sfc.id === value);

  if (currentSfc) {
    newSelectedSfcName.value = currentSfc.name;
    newSelectedSfcId.value = currentSfc.id
  }

  if (currentUserSfc) {
    newSelectedSfcName.value = currentUserSfc.name;
    newSelectedSfcId.value = currentUserSfc.id
  }

  try {
    // const attacks = await getAttackBySfcId(value.toString());

    const attacks = await getAttackBySfcId('98876');
    const [results] = attacks.data.results

    const [vulnerabilities] = results.vulnerabilities

    const [weaknesses] = vulnerabilities.weaknesses;

    attacksInfoArray.value = weaknesses.attacks

    zeroAttackStage.value = attacksInfoArray.value.map(attackInfo => {
      if (attackInfo.stage === 'Точка входа' ) {
        return {
            name: attackInfo.name,
            id: attackInfo.id
        }
      }
    }).filter(Boolean)

    firstAttackStage.value = attacksInfoArray.value.map(attackInfo => {
      if (attackInfo.stage === 'Вектор' ) {
        return {
          name: attackInfo.name,
          id: attackInfo.id
        }
      }
    }).filter(Boolean)

    secondAttackStage.value = attacksInfoArray.value.map(attackInfo => {
      if (attackInfo.stage === 'Нарушение функций безопасности' ) {
        return {
          name: attackInfo.name,
          id: attackInfo.id
        }
      }
    }).filter(Boolean)
  }
  catch (e) {
    attacksInfoString.value = 'Атаки не найдены'
  }
}

const handleSfcButton = () => {
  const sfcIds = [...selectedAccountSfc.value, ...selectedSfcCatalog.value]

  getCustomAttacksFile(sfcIds.toString());
}

const handleResultButton = async () => {
    const result = selectesSfcsForAttacks.value.map(item => {
        const [attacks] = JSON.parse(JSON.stringify(attackIndex.value.filter(attacks => attacks.formIndex === item.formIndex).map(attacks => attacks.attacks)))

        return {
            sfc: 98876,
            // sfc: item.sfcIndex,
            attacks
        }
    })

  try {
    showNotification.value = false;

    await sendVectorAttack(result);

    // Показать уведомление об успехе
    notificationMessage.value = 'Запрос отправлен успешно! Результат вы можете увидеть в личном кабинете.';
    isErrorNotification.value = false;
    showNotification.value = true;

  } catch (e) {
    // Показать уведомление об ошибке
    notificationMessage.value = 'Ошибка при отправке данных. Пожалуйста, повторите попытку позже.';
    isErrorNotification.value = true;
    showNotification.value = true;
  }

}
</script>

<style scoped lang="scss">
.vulnerability-service__description {
  font-family: "Sarabun", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 30px 0;
  max-width: 750px;
  text-align: center;

  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

.vulnerability-service__title {
  font-family: "Sarabun", sans-serif;
  font-size: 20px;
  line-height: 20px;
  margin: 30px 0;
  max-width: 750px;
  text-align: center;

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}

.vulnerability-service__subtitle {
  font-family: "Sarabun", sans-serif;
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 30px 0;
  max-width: 750px;
  text-align: center;

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}

.vulnerability-service__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}

.vulnerability-service__icon {
  margin-top: 40px;
}

.vulnerability-service__button-menu {
  display: flex;
  justify-content: center;
  max-width: 700px;
  gap: 20px;
}

.vulnerability-service__bottom-buttons {
  max-width: 380px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  margin-bottom: 40px;

  @media screen and (max-width: 450px) {
    flex-direction: column;
  }
}

.vulnerability-service__attacks-button-menu {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  gap: 20px;
}

.vulnerability-service__remove-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.vulnerability-service__button {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 20px;

  @media screen and (max-width: 767px) {
    max-width: 250px;
    font-size: 15px;
    line-height: 15px;
  }
}

.vulnerability-service__breadcrumb {
  margin-top: 20px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .vulnerability-service__button {
    max-width: 250px;
    font-size: 15px;
    line-height: 15px;
  }

  .vulnerability-service__button-menu {
    max-width: 450px;
  }
}

@media screen and (max-width: 450px) {
  .vulnerability-service__button-menu {
    max-width: 320px;
    flex-wrap: wrap;
  }
}

.vulnerability-service__sfcs-form {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.vulnerability-service__sfcs-form:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.vulnerability-service__title {
  font-family: "Sarabun", sans-serif;
  font-size: 22px;
  color: #2f6a61;
  margin-bottom: 15px;
}

.vulnerability-service__subtitle {
  font-family: "Sarabun", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  margin: 0 0 10px 0;
}

.vulnerability-service__button-menu {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding-top: 10px;
}

.vulnerability-service__remove-button {
  display: flex;
  justify-content: flex-end;
}

.vulnerability-service__button._small {
  padding: 10px 15px;
}
</style>