<template>
  <div class="about-us">
    <Header  />

    <AboutDescription/>
    <AboutAchievements/>
    <AboutPartners/>
    <AboutLinks/>
    <Footer />
  </div>
</template>

<script setup lang="ts">
import Header from '../components/common/Header.vue';
import Footer from '../components/common/Footer.vue';
import AboutDescription from "../components/about-us/AboutDescription.vue";
import AboutAchievements from "../components/about-us/AboutAchievements.vue";
import AboutPartners from "../components/about-us/AboutPartners.vue";
import AboutLinks from "../components/about-us/AboutLinks.vue";
</script>

<style scoped lang="scss">
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
