<template>
  <Header />

  <div class="account page-wrapper">
    <div class="account__info">
      <UserInfo />
    </div>

    <div class="account__nav-bar">
      <Title
          title="Мои СФХ"
          class="account__title"
          @click="changeActiveSection(sfcId)"
      />

      <Title
          title="Мои уязвимости"
          class="account__title"
          @click="changeActiveSection(vulnerabilityId)"
      />
      <Title
          title="Мои атаки"
          class="account__title"
          @click="changeActiveSection(attackId)"
      />

      <Title
          title="Мои угрозы"
          class="account__title"
          @click="changeActiveSection(threatId)"
      />
    </div>

    <AccountSfc v-if="activeSection === sfcId" />
    <AccountVulnerabilities v-if="activeSection === vulnerabilityId" />
    <AccountAttacks v-if="activeSection === attackId"/>
    <AccountThreats v-if="activeSection === threatId" />
  </div>

  <Footer />
</template>

<script setup lang="ts">
import Header from '../components/common/Header.vue';
import Footer from "../components/common/Footer.vue";
import UserInfo from "../components/account/UserInfo.vue";
import Title from "../components/common/Title.vue";
import {useUserDataStore} from "../store/account/use-user-data-store.ts";
import {useAccountMenuStore} from "../store/account/use-account-menu-store.ts";
import AccountSfc from "../components/account/AccountSfc.vue";
import AccountVulnerabilities from "../components/account/AccountVulnerabilities.vue";
import AccountAttacks from "../components/account/AccountAttacks.vue";
import AccountThreats from '../components/account/AccountThreats.vue';

const sfcId = 1;
const vulnerabilityId = 2;
const attackId = 3;
const threatId =4;

const { getUserSfcs, getUserVulnerabilities, getUserAttacks } = useUserDataStore();

getUserSfcs();
getUserVulnerabilities();
getUserAttacks();

const { activeSection, changeActiveSection } = useAccountMenuStore();
</script>

<style scoped lang="scss">
.account__info {
  display: flex;
  justify-content: flex-end;
  max-height: 35px;
}

.account__title {
  margin-top: 0 !important;

  @media screen and (min-width: 451px) and (max-width: 992px) {
    font-size: 18px;
  }

  @media screen and (max-width: 450px) {
    font-size: 14px;
  }

  @media screen and (min-width: 992px) {
      font-size: 22px;
  }
}

.account__title:hover {
  cursor: pointer;
}

.account__nav-bar {
  display: flex;
  justify-content: space-around;

  margin-top: 20px;
}
</style>