<template>
  <div class="attack-vectors">
    <h2 class="attack-vectors__title">Вектора атак</h2>

    <div v-if="loading" class="loading">Загрузка...</div>

    <div v-else>
      <div v-if="attackVectors.length === 0" class="no-data">
        Нет доступных отчетов.
      </div>

      <ul v-else class="attack-vectors__list">
        <li
            v-for="(vector, index) in attackVectors"
            :key="index"
            class="attack-vectors__item"
        >
          <span class="attack-vectors__name">
            Отчет {{ formatDate(vector.created_at) }}
          </span>
          <a
              :href="vector.xlsx_file"
              target="_blank"
              class="attack-vectors__download"
          >
            Скачать
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useAuthStore } from "@/store/use-auth-store";
import { useUserDataStore } from "@/store/account/use-user-data-store";

const attackVectors = ref<any[]>([]);
const loading = ref(true);

const { user } = useAuthStore();
const { getUserAttackVectors, userAttackVectors } = useUserDataStore();

const formatDate = (dateString: string) => {
  const options = { year: 'numeric', month: 'long', day: 'numeric' };
  return new Date(dateString).toLocaleDateString('ru-RU', options);
};

const fetchAttackVectors = async () => {
  try {
    loading.value = true;
    await getUserAttackVectors(user.value.pk);
    attackVectors.value = userAttackVectors.value;
  } catch (error) {
    console.error('Ошибка при загрузке данных:', error);
  } finally {
    loading.value = false;
  }
};

onMounted(() => {
  fetchAttackVectors();
});
</script>

<style scoped lang="scss">
.attack-vectors {
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.attack-vectors__title {
  font-size: 28px;
  font-weight: 600;
  color: #2f6a61;
  margin-bottom: 20px;
  text-align: center;
}

.loading,
.no-data {
  text-align: center;
  font-size: 18px;
  color: #999;
}

.attack-vectors__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attack-vectors__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  margin-bottom: 12px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 100%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.attack-vectors__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.attack-vectors__name {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  flex: 1;
}

.attack-vectors__download {
  padding: 8px 20px;
  background-color: #2f6a61;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.attack-vectors__download:hover {
  background-color: #49a585;
}
</style>
