<template>
    <div class="auth-page">
        <AuthForm />
    </div>
</template>

<script setup lang="ts">
import AuthForm from '../components/auth/AuthForm.vue';
</script>

<style scoped lang="scss">
.auth-page {
    width: 100%;
    height: 100vh;
    padding-top: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('/images/background-auth.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
