<template>
    <div class="error-page">
        <div class="error-page__code">
            4
            <span>
                <i class='fas fa-ghost'></i>
            </span>
            4
        </div>

        <div class="error-page__title">
            Error 404: Page not found
        </div>

        <p class="error-page__description">
            Sorry, the page you're looking for cannot be accessed
        </p>
    </div>
</template>

<style scoped lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');

    .error-page {
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      background-color: #2f6a61;
    }

    .error-page__code {
      font-size: 125px;
      letter-spacing: .1em;
      text-shadow: .05em .05em 0 rgba(0, 0, 0, 0.2);
      color: #ffffff;
      white-space: nowrap;
    }

    .error-page__code > span {
      display: inline-block;
      animation: spooky 2s alternate infinite linear;
    }

    .error-page__title {
      margin-bottom: .4em;
      margin-top: 30px;
      font-size: 25px;
      color: #ffffff;
    }

    .error-page__description {
      margin-top: 0;
      color: rgba(255, 255, 255, 0.7);
    }

    @keyframes spooky {
      from {
        transform: translateY(.15em) scaleY(.95);
      }

      to {
        transform: translateY(-.15em);
      }
    }

    @media screen and (max-width: 768px) {
      .error-page__code {
        font-size: 55px;
      }

      .error-page__title {
        font-size: 18px;
      }
    }
</style>
