<template>
    <div class="main">
        <Header :is-dark="true" />
        <MainBanner />
<!--        <AboutBlock />-->
        <MainList />
        <Footer />
    </div>
</template>

<script setup lang="ts">
    import Header from '../components/common/Header.vue';
    import Footer from '../components/common/Footer.vue';
    import MainBanner from '../components/main/MainBanner.vue';
    import AboutBlock from '../components/main/AboutBlock.vue';
    import MainList from '../components/main/MainList.vue';
</script>

<style scoped>
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
