<template>
  <div class="about-us">
    <Header  />
    <div class="services page-wrapper">
      <div class="services__list">
        <InfoBlock
            v-for="(info, index) in services"
            :key="index + 'service'"
            :info="info"
        />
      </div>
    </div>
    <Footer />
  </div>
</template>

<script setup lang="ts">
import Header from '../components/common/Header.vue';
import Footer from '../components/common/Footer.vue';
import {services} from "../models/services";
import InfoBlock from "../components/common/InfoBlock.vue";
import {useSfcsStore} from "../store/db/use-sfcs-store.ts";
import {onMounted} from "vue";

const { getSfcs } =  useSfcsStore();

onMounted(getSfcs)
</script>

<style scoped lang="scss">
.about-us {
  display: flex;
  flex-direction: column;
}

.services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 30px 50px;
}
</style>
