<template>
  <div class="statistic">
    <Header :is-dark="true" />
    <iframe
        src="https://cybermap.kaspersky.com/en/widget/dynamic/dark"
        frameborder="0"
        class="statistic__world"
    />
  </div>
</template>

<script setup lang="ts">
import Header from '../components/common/Header.vue';
</script>

<style scoped lang="scss">
.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.statistic__world {
  width: 100%;
  height: 100vh;
}
</style>
