<template>
    <div
        class="logo"
        :class="{
            '_footer': props.isFooter
        }"
    >
    </div>
</template>

<script setup lang="ts">
    interface Props {
        isFooter?: boolean
    }

    const props = withDefaults(defineProps<Props>(), {
        isFooter: false
    });
</script>

<style scoped lang="scss">
.logo {
  width: 150px;
  height: 70px;
}

@media screen and (max-width: 450px) {
  .logo {
    display: none;
  }
}

@media screen and (min-width: 451px) {
  .logo {
    width: 80px;
    height: 50px;
  }
}

.logo._footer {
  width: 200px;
  height: 90px;
}

@media screen and (max-width: 450px) {
  .logo._footer {
    width: 70%;
    display: block;
  }
}
</style>
