<template>
  <div class="about-description">
    <div class="about-description__item">
      <div class="about-description__image-block">
        <img
            src="/images/about-us/about-us-1.jpg"
            alt="Проектирование и разработка"
            class="about-description__image"
        />
      </div>
      <div class="about-description__text-block">
        <h2 class="about-description__title">Проектирование и разработка</h2>
        <p class="about-description__text">
          Проектирование, конструирование и разработка программных решений для БПЛА, работа с макетами реальных предприятий
          и их тестирование на проникновение, анализ киберфизических систем и выявление актуальных угроз, моделирование реальных
          сценариев атак и создание мер по снижению рисков – над всем этим трудится наша команда.
        </p>
      </div>
    </div>

    <div class="about-description__item about-description__item--reversed">
      <div class="about-description__text-block">
        <h2 class="about-description__title">О нас</h2>
        <p class="about-description__text">
          Наша команда – это научные сотрудники, опытные преподаватели и творческие студенты, которые работают над проектами,
          направленными на обеспечение технологического суверенитета страны в области проектирования и разработки защищенных
          автоматизированных систем.
        </p>
      </div>
      <div class="about-description__image-block">
        <img
            src="/images/about-us/about-us-2.jpg"
            alt="Наша команда"
            class="about-description__image"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
.about-description {
  font-family: "Sarabun", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.about-description__item {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-description__item--reversed {
  flex-direction: row-reverse;
}

.about-description__text-block {
  flex: 1;
  min-width: 280px;
  max-width: 600px;
  padding: 20px;
  background-color: #f5f7fa;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.about-description__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #333;
}

.about-description__text {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}

.about-description__image-block {
  flex: 1;
  max-width: 500px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-description__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.about-description__image-block:hover .about-description__image {
  transform: scale(1.05);
}

/* Мобильная адаптация */
@media screen and (max-width: 768px) {
  .about-description__item {
    flex-direction: column;
  }

  .about-description__item--reversed {
    flex-direction: column;
  }

  .about-description__text-block {
    text-align: center;
    padding: 15px;
  }

  .about-description__title {
    font-size: 20px;
  }

  .about-description__text {
    font-size: 14px;
  }
}
</style>
