<template>
  <Title
      title="Достижения"
      class="about-achievements__title"
  />
  <div class="about-achievements">
    <div class="about-achievements__list">
      <div
          v-for="(achievement, index) in achievements"
          :key="'achievement-' + index"
          class="about-achievements__item"
          :class="{ 'about-achievements__item--centered': index === achievements.length - 1 && achievements.length % 2 !== 0 }"
      >
        <div class="about-achievements__number">{{ achievement.number }}</div>
        <div class="about-achievements__text">{{ achievement.text }}</div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import Title from '../common/Title.vue';

const achievements = [
  { number: '5', text: 'завершенных научно-исследовательских работ в рамках университета' },
  { number: '3', text: 'грантовые поддержки на реализацию технологических идей' },
  { number: '3', text: 'инновационных проекта, которые получили апробацию' },
  { number: '10+', text: 'участий в выставочных экспозициях' },
  { number: '120+', text: 'публикаций в индексируемых изданиях РИНЦ, ВАК, RSCI и Scopus' },
  { number: '20+', text: 'выступлений на всероссийских и международных конференциях' },
  { number: '20+', text: 'выпускных квалификационных работ на тему обеспечения информационной безопасности' },
];
</script>

<style scoped lang="scss">
.about-achievements {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  background: linear-gradient(to bottom, #ffffff, #f3f3f3);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);

  font-family: "Sarabun", sans-serif;
}

.about-achievements__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 40px;

  font-family: "Sarabun", sans-serif;
}

.about-achievements__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
}

.about-achievements__item {
  background: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #e3ffe7, #d9e7ff);
  }
}

.about-achievements__item--centered {
  grid-column: 1 / -1;
  justify-self: center;
  text-align: center;
}

.about-achievements__number {
  font-size: 4rem;
  font-weight: bold;
  color: #3498db;
  margin-bottom: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.about-achievements__text {
  font-size: 1.4rem;
  color: #34495e;
  font-weight: 500;
  line-height: 1.6;
}
</style>
