<template>
    <div class="about-partners">
        <Title title="Партнеры" class="about-partners__title"/>

        <div class="about-partners__list">
            <div class="about-partners__partner">
                <img
                    src="/images/about-us/partner-1.png"
                    alt="sfedu"
                    class="about-partners__img _small"
                >
            </div>

            <div class="about-partners__partner">
              <img
                  src="/images/about-us/partner-3.png"
                  alt="sfedu"
                  class="about-partners__img"
              >
            </div>

            <div class="about-partners__partner">
                <img
                    src="/images/about-us/partner-2.png"
                    alt="fstec"
                    class="about-partners__img _small"
                >
            </div>

            <div class="about-partners__partner">
                <img
                    src="/images/about-us/partner-4.png"
                    alt="sfedu"
                    class="about-partners__img"
                >
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import Title from "../../components/common/Title.vue";

</script>

<style scoped lang="scss">
.about-partners {
  max-width: 1150px;
  width: 100%;
}

.about-partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
}

.about-partners__img {
  width: 270px;
}

.about-partners__title {
  text-align: center;

  font-family: "Sarabun", sans-serif;
}

@media screen and (max-width: 450px) {
  .about-partners__img {
    width: 130px;
  }
}

._small {
    max-width: 180px;
}
</style>