<template>
  <div class="about-link">
    <Title title="Полезные ссылки" class="about-link__title"/>

    <div class="about-link__grid">
      <div
          v-for="(link, index) in aboutUsSlides"
          :key="index"
          class="about-link__card"
      >
        <img :src="link.image" :alt="link.name" class="about-link__image" />
        <div class="about-link__content">
          <h3 class="about-link__name">{{ link.name }}</h3>
          <a :href="link.link" target="_blank" class="about-link__button">
            Подробнее
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import Title from '../../components/common/Title.vue';

const aboutUsSlides = [
  {
    image: '/images/about-us/slider-04.jpg',
    name: 'Повысь свои знания в мире кибербезопасности',
    link: 'https://sfedu.ru/press-center/news/75790',
  },
  {
    image: '/images/about-us/slider-05.jpg',
    name: 'Учим беспилотники принципам рефлексии',
    link: 'https://gorodn.ru/razdel/obshchestvo_free/obrazovanie/uchim-bespilotniki-printsipam-refleksii/',
  },
  {
    image: '/images/about-us/slider-01.png',
    name: 'Главные события и предстоящие мероприятия по информационной безопасности',
    link: 'https://www.anti-malware.ru/',
  },
  {
    image: '/images/about-us/slider-02.png',
    name: 'Полезные статьи от лидера рынка результативной кибербезопасности',
    link: 'https://habr.com/ru/companies/pt/profile/',
  },
  {
    image: '/images/about-us/slider-03.png',
    name: 'Все новости в мире киберугроз от Лаборатории Касперского',
    link: 'https://securelist.ru/',
  },
  {
    image: '/images/about-us/slider-1.jpg',
    name: 'Интервью Басан на тему кибербезопасность',
    link: 'https://sfedu.ru/press-center/news/66711',
  },
  {
    image: '/images/about-us/slider-2.jpg',
    name: 'Ученые из Ростова-на-Дону создают адаптивную систему защиты от кибератак',
    link: 'https://www.minobrnauki.gov.ru/press-center/news/novosti-podvedomstvennykh-uchrezhdeniy/35184/',
  },
  {
    image: '/images/about-us/slider-3.jpg',
    name: 'Наука в лицах ЮФУ: Елена Сергеевна Басан и информационная безопасность в беспроводных сетях',
    link: 'https://sfedu.ru/press-center/news/69918',
  },
  {
    image: '/images/about-us/link-laptop.jpg',
    name: 'Газета «Город N». Учим беспилотники принципам рефлексии',
    link: 'https://www.gorodn.ru/razdel/obshchestvo_free/obrazovanie/38945/',
  },
  {
    image: '/images/about-us/slider-5.jpg',
    name: 'В России придумали, как защитить беспилотники от удаленного взлома',
    link: 'https://ria.ru/20211111/yufu-1758408933.html',
  },
  {
    image: '/images/about-us/slider-6.png',
    name: 'Елена Басан о месте человека в "кибер" мире',
    link: 'https://vk.com/sfedu_official?w=wall-47535294_27791',
  },
  {
    image: '/images/about-us/slider-8.jpg',
    name: '«Задачей стартапа является обнаружение утечки бытового газа»',
    link: 'https://gorodn.ru/razdel/обshchestvo_free/obrazovanie/39749/',
  },
  {
    image: '/images/about-us/slider-9.jpg',
    name: '16 стартап-проектов ЮФУ стали победителями конкурса «Студенческий стартап»',
    link: 'https://news.myseldon.com/ru/news/index/274110675',
  },
  {
    image: '/images/about-us/slider-10.png',
    name: 'Исследования Басан Е.С. на ресурсе Prosto',
    link: 'https://www.youtube.com/watch?v=l4xTRUoKtOU',
  },
];
</script>

<style scoped lang="scss">
.about-link {
  max-width: 1150px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Sarabun", sans-serif;
}

.about-link__title {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
}

.about-link__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Адаптивное количество колонок */
  gap: 20px;
}

.about-link__card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}

.about-link__image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.about-link__content {
  padding: 15px;
  text-align: center;
}

.about-link__name {
  font-size: 1.6rem;
  font-weight: bold;
  color: #444;
  margin-bottom: 10px;
}

.about-link__button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}
</style>
