<template>
    <ul class="breadcrumb">
        <li
            v-for="(breadcrumb, index) in props.breadcrumbData"
            :key="index + 'breadcrumb-item'"
            class="breadcrumb__list-item"
        >
            <router-link
                :to="breadcrumb.path"
                class="breadcrumb__route-item"
            >
                {{ breadcrumb.name }}
            </router-link>

            <div>
                >
            </div>
        </li>
    </ul>
</template>

<script setup lang="ts">
import type { IBreadcrumb } from '../../abstracts/breadcrumb';

interface Props {
    breadcrumbData: IBreadcrumb[],
}

const props = defineProps<Props>();
</script>

<style lang="scss">
.breadcrumb {
  display: flex;
  gap: 10px;
  max-height: 60px;
  margin-top: -40px;
}

.breadcrumb__list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumb__list-item svg path {
  stroke: red;
}

.breadcrumb__list-item:last-child a {
  color: #2F6A61; /* var(--c-green) */
}

.breadcrumb__list-item:last-child div {
  display: none;
}

.breadcrumb__route-item {
  font-family: Sarabun, sans-serif; /* Replace with the appropriate font family */
  font-size: 16px;
  color: #000; /* var(--c-black) */
  font-weight: 500;
  line-height: 125px;
  text-decoration: none;
}
</style>