<template>
    <button
        class="button"
        :type="props.type"
        :disabled="props.disabled"
        @click="emit('click-button')"
        @mouseover="emit('mouseover')"
        @mouseout="emit('mouseout')"
    >
        <div
            v-if="props.text"
            class="button__text"
        >
            {{ props.text }}
        </div>
    </button>
</template>

<script setup lang="ts">
    type buttonType = "button" | "submit" | "reset" | undefined;

    interface Props {
        text?: string,
        type?:  buttonType,
        disabled?: boolean,
    }

    const props = withDefaults(defineProps<Props>(), {
        text: '',
        type: 'button',
        disabled: false,
    })

    const emit = defineEmits<{
        (event: 'mouseout'): void,
        (event: 'mouseover'): void,
        (event: 'click-button'): void
    }>();
</script>

<style lang="scss">
.button {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 13px;
  border: none;
  border-radius: 5px;
  padding: 12px 40px;
  font-family: Sarabun, sans-serif; /* Replace with the appropriate font family */
  font-size: 24px;
  color: #000; /* Replace with appropriate color if different */
  font-weight: 400;
  line-height: 34px;
  transition: all 0.3s ease-in-out;
}

.button._green {
  color: rgba(255, 255, 255, 0.8); /* var(--c-white-transparent-080) */
  background-color: #2F6A61; /* var(--c-green) */
}

.button._small {
  gap: 8px;
  padding: 80px 20px;
  font-size: 14px;
  line-height: 17px;
}

.button._small svg {
  transform: scale(0.55);
}

.button._small svg path {
  stroke-width: 2;
}

.button._large {
  gap: 20px;
  padding: 20px 64px;
  font-size: 32px;
  line-height: 40px;
}

.button._large svg {
  transform: scale(1.35);
}

.button._large svg path {
  stroke-width: 2;
}

.button:hover._green {
  background-color: #3cc481; /* var(--c-green-light) */
}

.button:active._green {
  background-color: rgba(47, 106, 97, 0.8); /* var(--c-green-transparent-080) */
}
</style>
