<template>
  <div class="checkbox">
    <label
        class="checkbox__label"
        :class="{
                    '_left-content': props.isLeftContent
                }"
    >
      <input
          class="checkbox__input"
          :class="{
                          '_border': props.hasBorder
                      }"
          type="checkbox"
          :name="props.name"
          :checked="props.checked"
          :disabled="props.disabled"
          @change="onChange"
      >

      <slot
          v-bind="{
                          content: props.content,
                          checked: props.checked,
                          disabled: props.disabled
                      }"
      >
        <div
            v-if="props.content"
            class="checkbox__content"
        >
          {{ props.content }}
        </div>
      </slot>
    </label>
  </div>
</template>

<script setup lang="ts">
interface Props {
  name?: string,
  content?: string,
  checked?: boolean,
  disabled?: boolean,
  hasBorder?: boolean,
  isLeftContent?: boolean
}

const props = withDefaults(defineProps<Props>(), {
  content: '',
  checked: false,
  disabled: false,
  hasBorder: false,
  isLeftContent: false
});

const onChange = (ev: Event) => {
  const checkbox = ev.target as HTMLInputElement;

  emit('update:checked', checkbox.checked);
};

const emit = defineEmits<{
  (event: 'update:checked', value: boolean): void
}>();
</script>

<style lang="scss">
.checkbox__label {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 12px;
  height: 32px;
  width: 400px;
  font-family: Sarabun, sans-serif; /* Replace with the appropriate font family */
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5); /* var(--c-white-transparent-050) */
  font-weight: 300;
  line-height: 140%;
  cursor: pointer;
}

@media screen and (max-width: 450px) { /* screen-small-mobile */
  .checkbox__label {
    width: 300px;
    font-size: 10px;
  }
}

.checkbox__label._left-content {
  flex-direction: row-reverse;
}

.checkbox__input {
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 15px;
  height: 15px;
  margin: 9px 0;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.24); /* var(--c-white-transparent-024) */
  transition: 0.3s ease-in-out;
  transition-property: border-color, background-color;
}

@media screen and (max-width: 450px) { /* screen-small-mobile */
  .checkbox__input {
    min-width: 20px;
    height: 20px;
  }
}

.checkbox__input::before {
  content: '';
  width: 13px;
  height: 10px;
  transform: scale(0);
  background-image: url('/icons/check-small.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox__input:hover {
  border-color: #cccccc; /* Replace with the appropriate color */
  background-color: #cccccc; /* Replace with the appropriate color */
  cursor: pointer;
}

.checkbox__input:checked::before {
  transform: scale(1);
}

.checkbox__input._border {
  border: 1px solid #cccccc; /* Replace with var(--checkbox-border) */
}

.checkbox__link {
  color: #2F6A61; /* var(--c-green) */
}
</style>
