<template>
    <div class="copyright">
        © {{ getCurrentYear() }} Все права защищены
    </div>
</template>

<script setup lang="ts">
    import { getCurrentYear } from '../../utils/get-current-year';
</script>

<style scoped lang="scss">
    .copyright {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        color: rgba(255, 255, 255, .4);
    }
</style>
