<template>
  <div class="footer">
    <div class="footer__wrapper">
        <div class="footer__menu">
            <div
                v-for="(item, index) in footerMenuLink"
                :key="index + 'footerItems'"
                class="footer__menu-item"
            >
                <router-link :to="item.link" class="footer__link">
                    {{ item.name }}
                </router-link>
            </div>
        </div>

        <Logo :is-footer="true" />

        <div>
            <a
                href="https://vk.com/ssscps"
                target="_blank"
            >
              <brand-vk-icon />
            </a>

            <a
                href="mailto:cybersecurityCFS@yandex.ru"
                target="_blank"
            >
                <brand-gmail-icon />
            </a>
        </div>
    </div>
      <Copyright/>
  </div>
</template>

<script setup lang="ts">
import Logo from "../../components/Logo.vue";
import {footerMenuLink} from "../../models/footer-menu-link";
import Copyright from "../../components/common/Copyright.vue";
</script>

<style scoped lang="scss">
.footer {
  width: 100%;
  padding: 30px 40px;
  background-color: #2F6A61; /* var(--c-green) */
}

@media screen and (max-width: 450px) { /* screen-till(mobile) */
  .footer {
    padding: 15px 20px;
  }
}

@media screen and (min-width: 451px) and (max-width: 767px) { /* screen-mobile */
  .footer {
    padding: 10px 15px;
    font-size: 12px;
  }
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 450px) { /* screen-till(mobile) */
  .footer__wrapper {
    flex-direction: column;
    justify-content: space-between;
  }
}

.footer__menu {
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 450px) { /* screen-till(mobile) */
  .footer__menu {
    display: none;
    font-size: 14px;
  }
}

.footer__link {
  color: rgba(255, 255, 255, 0.8); /* var(--c-white-transparent-080) */
}

.footer__link:hover {
  color: #3cc481; /* var(--c-green-light) */
}

.footer svg {
  width: 30px;
  height: 30px;
  color: white;
  stroke-width: 0.7;
}

.footer svg:hover {
  stroke: #3cc481; /* var(--c-green-light) */
}
</style>
