<template>
    <div
        class="header"
        :class="{
            '_dark-header': props.isDark
        }"
    >
        <Logo/>

        <div class="header__menu">
              <div
                  v-for="(item, index) in headerMenuLink"
                  :key="index + 'headerItems'"
                  class="header__menu-item"
              >
                  <router-link
                      :to="item.link"
                      :class="{
                          '_dark-header': props.isDark
                      }">
                      {{ item.name }}
                  </router-link>
              </div>
        </div>

        <div class="header__icons">

          <router-link to="/account">
            <user-icon @click="handleUserIconClick()"/>
          </router-link>
        </div>
    </div>
</template>

<script setup lang="ts">
    import { headerMenuLink } from '../../models/header-menu-link';
    import Logo from '../../components/Logo.vue';

    interface Props {
        isDark?: boolean
    }

    const props = withDefaults(defineProps<Props>(), {
        isDark: false
    });

    const handleUserIconClick = () => {

    };
</script>

<style scoped lang="css">
.header {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Sarabun, sans-serif; /* Replace with the appropriate font family */
  font-size: 22px;
  color: #000; /* var(--c-black) */
  font-weight: 400;
  z-index: 100;
}

@media screen and (max-width: 450px) { /* screen-till(mobile) */
  .header {
    padding: 15px 20px;
    font-size: 14px;
  }
}

@media screen and (min-width: 451px) and (max-width: 767px) { /* screen-mobile */
  .header {
    padding: 15px 20px;
    font-size: 16px;
  }
}

.header__menu-item a ._dark-header {
  color: rgba(255, 255, 255, 0.8) !important;
}

._dark-header {
  color: rgba(255, 255, 255, 0.8) !important;
}

.header._dark-header .header__menu-item a:hover {
  color: #3cc481; /* var(--c-green-light) */
}

.header._dark-header .header__icons svg:hover {
  stroke: #3cc481; /* var(--c-green-light) */
}

.header._dark-header .header__icons svg {
  stroke: #fff; /* var(--c-white) */
}

.header__menu {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 767px) { /* screen-till(tablet) */
  .header__menu {
    max-width: 400px;
  }
}

.header__menu-item a {
  color: rgba(0, 0, 0, 0.8); /* var(--c-black-transparent-080) */
}

.header__menu-item a:hover {
  color: #2F6A61; /* var(--c-green) */
}

.header__icons {
  max-width: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__icons svg {
  stroke: #000; /* var(--c-black) */
}

.header__icons svg:hover {
  stroke: #2F6A61; /* var(--c-green) */
}

@media screen and (max-width: 450px) { /* screen-till(mobile) */
  .header__icons {
    max-width: 40px;
  }
  .header__icons svg {
    width: 17px;
    height: 17px;
  }
}

@media screen and (min-width: 451px) and (max-width: 767px) { /* screen-mobile */
  .header__icons {
    max-width: 60px;
  }
  .header__icons svg {
    width: 20px;
    height: 20px;
  }
}
</style>
