<template>
    <router-link :to="props.info?.path || ''">
        <div class="info-block">
            <img
                :src="props.info.image"
                alt="service-image"
                class="info-block__image"
            />

            <div class="info-block__title">
                {{ props.info.name }}
            </div>

            <div class="info-block__description">
                {{ props.info.description }}
            </div>
        </div>
    </router-link>
</template>

<script setup lang="ts">
    import type { InfoBlock } from '../../abstracts/info-block';

    interface Props {
        info: InfoBlock
    }

    const props = defineProps<Props>();
</script>

<style scoped lang="scss">
.info-block {
  max-width: 370px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.info-block__image {
  max-width: 370px;
  width: 100%;
  max-height: 160px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.info-block__title {
  padding: 12px 20px 2px 20px;
  font-family: Sarabun, sans-serif; /* Replace with the appropriate font family */
  font-size: 24px;
  color: #2F6A61; /* var(--c-green) */
  font-weight: 700;
  line-height: 30px;
}

.info-block__title {
  line-height: 120%;
}

.info-block__description {
  padding: 0 20px 20px 20px;
  margin-top: 7px;
  font-family: Sarabun, sans-serif; /* Replace with the appropriate font family */
  font-size: 18px;
  color: #000; /* var(--c-black) */
  font-weight: 400;
  line-height: 21px;
}
</style>
