<template>
  <div
      class="input"
      :class="{
          '_error': hasError,
          '_dark': isDark,
      }"
  >
    <label
        v-if="label"
        class="input__upper-label"
        :class="{
                '_static': hasStaticLabelColor
            }"
    >
      {{ label }}
    </label>

    <div class="input__container">
      <input
          class="input__input"
          :placeholder="placeholder"
          :type="type"
          :value="inputValue"
          :disabled="disabled"
          v-model="value"
          @blur="emit('blur')"
      />
    </div>

    <label
        v-if="lowerLabel"
        class="input__lower-label"
    >
      {{ lowerLabel }}
    </label>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue'

interface Props {
  type?: string,
  label?: string,
  hasError?: boolean,
  disabled?: boolean,
  required?: boolean,
  modelValue?: string,
  placeholder?: string,
  errorMessage?: string,
  optionalText?: string,
  hasStaticLabelColor?: boolean,
  isDark?: boolean,
}

const props = withDefaults(defineProps<Props>(), {
  type: 'text',
  label: '',
  hasError: false,
  disabled: false,
  required: true,
  modelValue: '',
  errorMessage: '',
  optionalText: 'Необязательное поле',
  hasStaticLabelColor: false
});

const inputValue = ref<string>(props.modelValue);

const lowerLabel = computed(() => {
  if (props.hasError) {
    return props.errorMessage;
  }

  if (!props.required) {
    return props.optionalText;
  }
});

const value = computed({
  get: () => inputValue.value,
  set: (value) => {
    inputValue.value = value;
    emit('update:modelValue', value);
  }
});

const emit = defineEmits<{
  (event: 'blur'): void,
  (event: 'update:modelValue', value: string): void
}>();
</script>

<style lang="scss">
.input {
  max-width: 400px;
}

.input._error .input__upper-label:not(._static) {
  color: #FF3434; /* var(--c-red) */
}

.input._error .input__lower-label {
  color: #FF3434; /* var(--c-red) */
}

.input._error .input__input {
  border-color: rgba(255, 52, 52, 0.32); /* var(--c-red-transparent-032) */
}

.input._dark .input__input {
  border: 1px solid rgba(0, 0, 0, 0.2); /* var(--c-black-transparent-020) */
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.10);

  font-family: Sarabun, sans-serif; /* Replace with the appropriate font family */
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5); /* var(--c-black-transparent-050) */
  font-weight: 300;
  line-height: 14px;
}

.input._dark .input__input::placeholder {
  color: rgba(0, 0, 0, 0.5); /* var(--c-black-transparent-050) */
}

.input__search-icon {
  position: relative;
  top: 11px;
  left: 28px;
}

.input__upper-label,
.input__lower-label {
  font-family: Sarabun, sans-serif; /* Replace with the appropriate font family */
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7); /* var(--secondary-text-color) */
  font-weight: 400;
  line-height: 12px;

  transition: color 0.3s ease-in-out;
}

.input__close-icon {
  position: relative;
  top: 13px;
  right: 28px;
}

.input__close-icon path {
  stroke: #fff; /* var(--c-white) */
  transform: scale(0.7);
}

.input__input {
  width: 400px;
  height: 35px;
  padding: 8px 38px 8px 16px;
  margin: 2px 0;
  border: 1px solid rgba(255, 255, 255, 0.24); /* var(--c-white-transparent-024) */
  border-radius: 4px;

  font-family: Sarabun, sans-serif; /* Replace with the appropriate font family */
  font-size: 14px;
  color: #fff; /* var(--c-white) */
  font-weight: 300;
  line-height: 14px;

  background: rgba(255, 255, 255, 0.06); /* var(--c-white-transparent-016) */

  transition: border-color 0.3s ease-in-out;

  &._with-icon {
    padding: 8px 38px;
  }
}

.input__input:hover {
  border-color: #2F6A61; /* var(--c-dark-green) */
}

.input__input:focus {
  border-color: #00DB8C; /* var(--c-green) */
}

.input__input::placeholder {
  color: rgba(255, 255, 255, 0.4); /* var(--c-white-transparent-040) */
}

.input__container {
  display: flex;
  justify-content: center;
}
</style>