<template>
    <div class="limit-list">
        <div class="limit-list__title">
          Показывать по:
        </div>

        <div class="limit-list__wr">
            <LimitItem
                v-for="(item, index) in limitList"
                :key="'limit' + index"
                :limit-item="item"
                @click-limit="handleLimitClick"
                :class="{
                  '_active': isActive(item.count)
              }"
            />
        </div>
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import LimitItem from '../../components/common/LimitItem.vue';
import { limitList } from '../../models/limit-list';

const limit = ref<number>(10);

const handleLimitClick = (count: number) => {
    limit.value = count;

    emit('click-limit', count);
}

const emit = defineEmits<{
  (event: 'click-limit', value: number): void
}>();

const isActive = (count: number) => {
    return limit.value === count;
}
</script>

<style scoped lang="scss">
.limit-list {
  font-family: "Sarabun", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 12px;
  text-align: center;
  margin-top: -20px;
}

.limit-list__wr {
  display: flex;
  flex-direction: row;
}
</style>
