<template>
    <button
        @click="emit('click-limit', props.limitItem.count )"
        class="limit-item"
    >
        {{ props.limitItem.count }}
    </button>
</template>

<script setup lang="ts">
interface Props {
  limitItem: {
    count: number,
    isActive: boolean
  }
}

const props = defineProps<Props>();


const emit = defineEmits<{
  (event: 'click-limit', value: number): void
}>();
</script>

<style scoped lang="scss">
.limit-item {
  width: 28px;
  height: 26px;
  padding-left: 4px;
  padding-right: 4px;
  border: transparent;
  border-radius: 50%;
  background-color: transparent;
}

.limit-item._active {
  background-color: #2F6A61; /* var(--c-green) */
  color: #fff; /* var(--c-white) */
}
</style>
