<template>
    <a :href="props.link.link" target="_blank">
          <div class="link-block">
              <img
                  :src="props.link.image"
                  alt="link-image"
                  class="link-block__image"
              />

              <div class="link-block__title">
                  {{ props.link.name }}
              </div>
        </div>
    </a>
</template>

<script setup lang="ts">
import type { LinkBlock } from '../../abstracts/link-block';

interface Props {
    link: LinkBlock
}

const props = defineProps<Props>();
</script>

<style scoped lang="scss">
.link-block {
  max-width: 300px;
  width: 100%;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
}

.link-block__image {
  max-width: 370px;
  width: 100%;
  height: 190px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.link-block__title {
  padding: 12px 15px 2px 15px;
  font-family: Sarabun, sans-serif; /* Replace with the appropriate font family */
  font-size: 16px;
  color: #000; /* var(--c-black) */
  font-weight: 500;
  line-height: 120%;
}
</style>
