<template>
  <div v-if="isVisible" class="notification" :class="{ error: isError }">
    <span>{{ message }}</span>
    <button class="close-btn" @click="closeNotification">×</button>
  </div>
</template>

<script setup lang="ts">
import { ref, watch, onMounted } from 'vue';

const props = defineProps({
  isError: {
    type: Boolean,
    default: false,
  },
  message: {
    type: String,
    default: '',
  },
  duration: {
    type: Number,
    default: 10000,
  },
});

const isVisible = ref(true);

const closeNotification = () => {
  isVisible.value = false;
};

onMounted(() => {
  setTimeout(() => {
    closeNotification();
  }, props.duration);
});
</script>

<style scoped lang="scss">
.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  background-color: #b7fae0; /* Цвет для успешного уведомления */
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
  transition: opacity 0.3s ease;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Sarabun", sans-serif;
}

.notification.error {
  background-color: #f8bcb2; /* Цвет для ошибок */
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 20px;
}

.close-btn:hover {
  color: #333;
}
</style>
