<template>
  <el-select
      v-model="value"
      :multiple="false"
      filterable
      default-first-option
      :placeholder="props.placeholder"
      style="width: 540px"
      class="custom-select"
      @change="handleChange"
  >
    <el-option
        v-for="item in props.options"
        :key="item.id"
        :label="item.name"
        :value="item.id"
    />
  </el-select>
</template>

<script setup lang="ts">
import { ref } from 'vue';

interface Props {
  options: any[];
  placeholder: string;
  isMultiple: boolean;
  formIndex: number;
}

const props = withDefaults(defineProps<Props>(), {
  isMultiple: false,
  formIndex: 0
});

const value = ref<string | null>(null);
const emit = defineEmits<{
  (event: 'update:modelValue', value: string): void;
  (event: 'update:index', index: number): void;
}>();

const handleChange = (value: string) => {
  emit('update:modelValue', value);
  emit('update:index', props.formIndex);
};
</script>
