<template>
  <swiper
      :slides-per-view="3"
      :space-between="10"
      :pagination="{ clickable: true }"
      class="desktop-swiper"
  >
    <swiper-slide
        v-for="(item, index) in aboutUsSlides"
        :key="'about-us-slider' + index"
        :virtual-index="index"
    >
      <LinkBlock :link="item" />
    </swiper-slide>
  </swiper>

  <swiper
      :slides-per-view="2"
      :space-between="10"
      :pagination="{ clickable: true }"
      class="tablet-swiper"
  >
    <swiper-slide
        v-for="(item, index) in aboutUsSlides"
        :key="'about-us-slider' + index"
        :virtual-index="index"
    >
      <LinkBlock :link="item" />
    </swiper-slide>
  </swiper>

  <swiper
      :slides-per-view="1"
      :space-between="10"
      :pagination="{ clickable: true }"
      class="mobile-swiper"
  >
    <swiper-slide
        v-for="(item, index) in aboutUsSlides"
        :key="'about-us-slider' + index"
        :virtual-index="index"
    >
      <LinkBlock :link="item" />
    </swiper-slide>
  </swiper>
</template>

<script setup lang="ts">
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/pagination';
import { aboutUsSlides } from '../../models/about-us-slides';
import LinkBlock from '../../components/common/LinkBlock.vue';
</script>

<style scoped lang="scss">
.desktop-swiper {
  width: 1000px;
  display: none;
}

.tablet-swiper {
  width: 700px;
  display: none;
}

.mobile-swiper {
  width: 300px;
  margin-left: 20px;
  display: none;
}

@media screen and (min-width: 551px) and (max-width: 992px) {
  .desktop-swiper {
    display: none;
  }

  .mobile-swiper {
    display: none;
  }

  .tablet-swiper {
    display: block;
  }
}



@media screen and (max-width: 550px) {
  .desktop-swiper {
    display: none;
  }

  .tablet-swiper {
    display: none;
  }

  .mobile-swiper {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .desktop-swiper {
    display: block;
  }

  .tablet-swiper {
    display: none;
  }

  .mobile-swiper {
    display: none;
  }
}
</style>
