<template>
  <div class="title">
    {{ props.title }}
  </div>
</template>

<script setup lang="ts">
interface Props {
  title: string
}

const props = defineProps<Props>();
</script>

<style scoped lang="scss">
.title {
    margin-top: 50px;

    font-size: 24px;
    color: #2F6A61;
    font-weight: 600;
}
</style>
