<template>
  <div class="algorithm-list">
    <!-- Уведомление -->
    <Notification
        v-if="showNotification"
        :message="notificationMessage"
        :isError="isErrorNotification"
        :duration="5000"
    />

    <div class="algorithm-list__list">
      <AlgorithmItem :number="1">
        <Button
            text="Установить приложение"
            class="algorithm-list__button"
            @click-button="loadScript()"
        />
      </AlgorithmItem>

      <AlgorithmItem :number="2">
        Из скачанного архива запустите приложение и дождитесь результата сканирования.
      </AlgorithmItem>

      <AlgorithmItem :number="3">
        Откройте папку “main” и найдите файл “main”. Загрузите его на сайт по кнопке ниже.

        <form enctype="multipart/form-data" @submit="submitForm">
          <div class="input__wrapper">
            <input name="file" type="file" id="input__file" class="input input__file" @change="onChangeFileUpload">
            <label for="input__file" class="input__file-button algorithm-list__button">
              <span class="input__file-button-text"> {{ getButtonText() }}</span>
            </label>
          </div>

          <Button
              class="algorithm-list__button-upload"
              type="submit"
              text="Загрузить"
          />
        </form>

        <div class="algorithm-list__support">
          Если возникли проблемы, обратитесь в <a href="#">Поддержку</a>.
        </div>
      </AlgorithmItem>
    </div>
    <div>
      <img src="/images/sfh-main.png" alt="sfh" class="algorithm-list__img">
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import AlgorithmItem from "../../components/sfh-service/AlgorithmItem.vue";
import Button from "../../components/common/Button.vue";
import Notification from "../../components/common/Notification.vue";  // Импортируем компонент уведомления
import { ApiRequest } from "../../models/ApiRequest.ts";
import axios from 'redaxios';
import FileSaver from 'file-saver';
import {getHost} from "@/utils/get-host";

const api = new ApiRequest();
const file = ref<File | null>(null);
const url: string = getHost();
const aapi= axios.create({
  url,
  withCredentials: true,
});

// Уведомления
const showNotification = ref(false);
const notificationMessage = ref('');
const isErrorNotification = ref(false);

const getButtonText = () => {
  return file.value ? 'sfc.json': 'Выберите файл'
}

const onChangeFileUpload = (e: any) => {
  file.value = e.target.files[0];
};

const submitForm = async (e: any) => {
  e.preventDefault();

  if (!file.value) {
    notificationMessage.value = 'Файл не выбран';
    isErrorNotification.value = true;
    showNotification.value = true;
    return;
  }

  let data = new FormData();
  data.append('file', file.value);

  try {
    showNotification.value = false;

    await aapi.post(getHost() + 'sfc/characteristics/upload-user-system-data/', data, {
      responseType: 'blob'
    });

    // Показать уведомление об успешной загрузке
    notificationMessage.value = 'Результат скоро появится в личном кабинете';
    isErrorNotification.value = false;
    showNotification.value = true;
  } catch (error) {
    // Показать уведомление об ошибке
    notificationMessage.value = 'Что-то пошло не так! Повторите попытку или обратитесь в Поддержку';
    isErrorNotification.value = true;
    showNotification.value = true;
  }
};

const loadScript = async () => {
  const scriptData = await api.get('storage/scripts/');

  if (!scriptData) {
    notificationMessage.value = 'Не удалось загрузить скрипт';
    isErrorNotification.value = true;
    showNotification.value = true;
    return;
  }

  location.href = scriptData.data.results[0].file;
};
</script>

<style lang="scss">
.algorithm-list {
  display: flex;
  max-width: 1000px;
  width: 100%;
}

.algorithm-list__button {
  padding: 5px 20px;
  font-size: 16px;
  background-color: #2f6a61;
  color: white;
  line-height: 22px;
}

.algorithm-list__button-upload {
  padding: 0 20px;
  font-size: 14px;
  background-color: #2f6a61;
  color: white;
}

@media screen and (max-width: 450px) {
  .algorithm-list {
    align-items: center;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 451px) and (max-width: 768px) {
  .algorithm-list {
    align-items: center;
    flex-direction: column-reverse;
    margin-left: -40px;
  }
}

.algorithm-list__img {
  @media screen and (max-width: 768px) {
    max-width: 250px;
  }
}

.algorithm-list__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.algorithm-list__select-button {
  border-color: #2F6A61;
  background-color: white;
  color: #2F6A61;
}

.algorithm-list__support {
  font-size: 12px;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}

.input__file-button {
  max-width: 190px;
  height: 35px;
  background: #3cc481;
  color: #ffffff;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px !important;
  margin-bottom: 5px !important;
}
</style>