<template>
    <div class="algorithm-item">
        <div class="algorithm-item__number">
            {{ props.number }}
        </div>

        <div class="algorithm-item__text">
            <slot></slot>
        </div>
    </div>
</template>

<script setup lang="ts">
interface Props {
  number?: number
}

const props = defineProps<Props>();
</script>

<style lang="scss">
.algorithm-item {
  display: flex;
  gap: 20px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .algorithm-item {
    gap: 10px;
    font-size: 14px;
    line-height: 18px;
  }
}

.algorithm-item__number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;
  border: 1px solid #3cc481;
  border-radius: 50px;
  color: #3cc481;
}

.algorithm-item__text {
  max-width: 450px;
}

@media screen and (max-width: 768px) {
  .algorithm-item__text {
    max-width: 250px;
  }
}

@media screen and (min-width: 451px) {
  .algorithm-item__text {
    max-width: 350px;
  }
}

</style>