<template>
  <div class="system">
    <div>
      <b>
        {{ props.name }}
      </b>
    </div>

    <div>
      {{ props.description }}
    </div>
  </div>
</template>

<script setup lang="ts">
interface Props {
  description?: string,
  name?: string
}

const props = defineProps<Props>();
</script>

<style lang="scss">
.system {
    display: flex;
}
</style>