html {
    font-size: 62.5% !important;
}

body {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    font-family: "Sarabun", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

body a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

a:focus {
    outline: none;
}

.page-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - 30px - 210px);

@media only screen and (max-width: 600px) {
    min-height: calc(100vh - 80px - 130px);
}

@media only screen and (max-width: 768px) {
    min-height: calc(100vh - 55px - 130px);
}
}

.pagination-wr {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.pagination-wr a {
    color: #479387;
}

.pagination-wr .page-item.active .page-link {
    background: #479387;
}

.data-base__content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.data-base__table {
    max-width: 1000px;
}

.data-base__pagination {
    margin-top: 20px;
}

.data-base__breadcrumb {
    max-width: 1000px;
    width: 100%;
}

.data-base__breadcrumb {
    max-width: 1000px;
    width: 100%;
}

.data-base__wrapper {
    min-height: calc(100vh - 100px - 210px);
}

@media only screen and (max-width: 600px) {
    .data-base__wrapper {
        min-height: calc(100vh - 80px - 130px);
    }
}

@media only screen and (max-width: 768px) {
    .data-base__wrapper {
        min-height: calc(100vh - 55px - 130px);
    }
}

.data-base__accordion-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
    .data-base__accordion-list {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
