<template>
    <Header />

    <div class="sfh-service page-wrapper">
      <Breadcrumb :breadcrumb-data="sfhServiceBreadcrumb" class="sfh-service__breadcrumb" />
      <Title title="Сервис анализа СФХ" class="sfh-service__title"/>
      <div class="sfh-service__description">
        Позволяет отслеживать актуальные версии структурно-функциональных характеристик устройства или системы путем
        сканирования. Отслеживать изменения СФХ можно в личном кабинете.
      </div>
      <AlgorithmList />

      <div class="sfh-service__subtitle">
          Системные требования к установке программы
      </div>

      <div class="sfh-service__system-requirements">
        <div>
          <div
              v-for="(name, index) in systemRequirementsName"
              :key="'system-requirements-name' + index"
              class="sfh-service__system-requirements-name"
          >
               {{ name }}
             </div>
          </div>

        <div>
          <div
              v-for="(description, index) in systemRequirementsDescription"
              :key="'system-requirements-name' + index"
              class="sfh-service__system-requirements-description"
          >
              {{ description }}
            </div>

          </div>
      </div>
    </div>
  <Footer />
</template>

<script setup lang="ts">
import Header from "../../components/common/Header.vue";
import Breadcrumb from "../../components/common/Breadcrumb.vue";
import {sfhServiceBreadcrumb} from "../../models/breadcrumb";
import AlgorithmList from "../../components/sfh-service/AlgorithmList.vue";
import Title from "../../components/common/Title.vue";
import { systemRequirementsDescription, systemRequirementsName } from "../../models/system-requirements";
import Footer from "../../components/common/Footer.vue";
</script>

<style lang="css">
.sfh-service {
  font-family: Sarabun, sans-serif;

  @media screen and (max-width: 1023px) {
    padding-left: 30px;
  }
}

.sfh-service__subtitle {
  font-size: 18px;
  color: #479387;

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

.sfh-service__title {
  margin-top: 50px !important;

  @media screen and (max-width: 767px) {
    margin-top: 50px !important;
    font-size: 18px !important;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin-top: 50px !important;
  }
}

.sfh-service__system-requirements-description {
  color: rgba(0, 0, 0, 0.5);
}

.sfh-service__system-requirements {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  font-size: 16px;
  margin-top: 10px;

  @media screen and (max-width: 767px) {
    width: 100%;
    justify-content: center;
    font-size: 14px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 100%;
    justify-content: center;
  }
}

.sfh-service__description {
  font-family: "Sarabun", sans-serif;
  max-width: 700px;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.sfh-service__breadcrumb {
  margin-top: 20px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
</style>