/*:root {*/
/*    !* Переопределение цвета границы *!*/
/*    --el-input-border-color: #2f6a61 !important;*/
/*    --el-input-focus-border-color: #2f6a61 !important;*/
/*    --el-input-hover-border-color: #2f6a61 !important;*/
/*}*/

/*!* Также можно добавить дополнительные стили *!*/
/*.el-input__inner {*/
/*    box-shadow: 0 0 5px rgba(47, 106, 97, 0.5) !important;*/
/*}*/
