<template>
  <router-link
      :to="props.dbItem.path"
      class="db-item"
  >
    <img
        :src="props.dbItem.image"
        :alt="props.dbItem.name + 'Icon'"
        class="db-item__icon"
    />

    <div class="db-item__name">
      {{ props.dbItem.name }}
    </div>
  </router-link>
</template>

<script setup lang="ts">
import type { Database } from '../../abstracts/database';

interface Props {
  dbItem: Database
}

const props = defineProps<Props>();
</script>

<style scoped lang="scss">
.db-item {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 280px;
  padding: 40px 10px;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.10) inset, 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

.db-item__name {
  width: 100%;
  margin-top: 40px;

  font-size: 24px;
  color: black;
  font-weight: 500;
  text-align: center;
}

.db-item__icon {
  width: 33%;
}
</style>
