<template>
  <div class="db-list">
    <DbItem
        v-for="(item, index) in database"
        :key="'db' + index"
        :db-item="item"
    />
  </div>
</template>

<script setup lang="ts">
import DbItem from '../../components/db/DbItem.vue';
import { database } from '../../models/database';
</script>

<style scoped lang="scss">
.db-list{
  font-family: "Sarabun", sans-serif;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  max-width: 1150px;
  width: 100%;
  margin-top: 25px;
}
</style>
