<template>
    <div class="db-row">
        <div class="db-row__name">
            {{ props.name }}
        </div>

        <div class="db-row__content">
            <slot></slot>
        </div>
    </div>
</template>

<script setup lang="ts">
    interface Props {
        name: string
    }

    const props = defineProps<Props>();
</script>

<style scoped lang="scss">
.db-row {
  font-family: "Sarabun", sans-serif;
  font-size: 14px;
  display: flex;
  gap: 40px;
}

.db-row__name {
  max-width: 250px;
  width: 100%;
}

@media screen and (max-width: 450px) { /* Предполагается, что mobile имеет ширину 450px */
  .db-row {
    margin-top: 10px;
    gap: 0;
    flex-direction: column;
  }

  .db-row__name {
    max-width: 100px;
    width: 100%;
  }
}

@media screen and (min-width: 451px) { /* Предполагается, что mobile имеет ширину 450px */
  .db-row {
    margin-top: 10px;
    gap: 0;
    flex-direction: column;
  }

  .db-row__name {
    max-width: 200px;
    width: 100%;
  }
}
</style>