<template>
    <router-link
        :to="props.object.url"
    >
        <div class="object-card">
            <div
                class="object-card__label"
                :class="{
                    '_red': isRedLabel(),
                    '_orange': isOrangeLabel(),
                    '_green': isGreenLabel(),
                    '_yellow': isYellowLabel()
                }"
            >
            </div>

            <div class="object-card__title">
              {{ object.title }}
            </div>
        </div>
    </router-link>
</template>

<script setup lang="ts">
import type { ObjectCard } from '../../abstracts/object-card';

interface Props {
    object: ObjectCard
}

const props = defineProps<Props>();

const isRedLabel = () => {
    return props.object.label === 'red';
};

const isOrangeLabel = () => {
    return props.object.label === 'orange';
};

const isYellowLabel = () => {
    return props.object.label === 'yellow';
};

const isGreenLabel = () => {
    return props.object.label === 'green';
};
</script>

<style scoped lang="scss">
.object-card {
  display: flex;
  max-width: 1100px;
  width: 100%;
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.02); /* замените на подходящее значение */

  font-family: Sarabun, sans-serif; /* замените на подходящий шрифт */
  font-size: 20px;
  color: #2F6A61; /* var(--c-green) */
  font-weight: 600;
  line-height: 1.2;

  /* Остальные стили для .object-card__title и .object-card__label остаются без изменений */
}

.object-card__title {
  padding: 12px 30px;
}

.object-card__label {
  width: 18px;
  height: inherit;
}

.object-card__label._red {
  background-color: darkred;
}

.object-card__label._orange {
  background-color: orange;
}

.object-card__label._yellow {
  background-color: #ffdf6d;
}

.object-card__label._green {
  background-color: #2F6A61; /* var(--c-green) */
}
</style>
