<template>
    <div class="auth-form">
        <ButtonsMenu />

        <Notification
            v-if="showNotification"
            :message="notificationMessage"
            :isError="isErrorNotification"
            :duration="5000"
        />

        <div
            v-if="isEntry"
            class="auth-form__content"
        >
            <Input
                name="email"
                v-model="authForm.email"
                :has-error="authValidator.email.$error"
                :error-message="loginErrorMessage"
                placeholder="Логин"
                @blur="authValidator.email.$touch()"
            />

            <Input
                name="password"
                v-model="authForm.password"
                :error-message="passwordErrorMessage"
                :has-error="authValidator.password.$error"
                placeholder="Пароль"
                type="password"
                @blur="authValidator.password.$touch()"
            />

            <Button
                text="Войти"
                class="auth-form__button _green _small"
                :disabled="hasAuthEmptyField"
                @click-button="login(authForm)"
            />
        </div>

        <div
            v-if="!isEntry"
            class="auth-form__content"
        >
            <Input
                v-if="false"
                name="surname"
                v-model="registerForm.surname"
                :error-message="surnameErrorMessage"
                :has-error="registerValidator.surname.$error"
                placeholder="Фамилия"
                @blur="registerValidator.surname.$touch()"
            />

            <Input
                v-if="false"
                name="name"
                v-model="registerForm.name"
                :error-message="nameErrorMessage"
                :has-error="registerValidator.name.$error"
                placeholder="Имя"
                @blur="registerValidator.name.$touch()"
            />

            <Input
                name="email"
                v-model="registerForm.email"
                :error-message="emailErrorMessage"
                :has-error="registerValidator.email.$error"
                placeholder="Почта"
                @blur="registerValidator.email.$touch()"
            />

            <Input
                name="password"
                v-model="registerForm.password"
                :error-message="firstPasswordErrorMessage"
                :has-error="registerValidator.password.$error"
                placeholder="Пароль"
                @blur="registerValidator.password.$touch()"
            />

            <Input
                name="repeatedPassword"
                v-model="registerForm.repeatedPassword"
                :error-message="repeatedPasswordErrorMessage"
                :has-error="registerValidator.repeatedPassword.$error"
                placeholder="Повторите пароль"
                @blur="registerValidator.repeatedPassword.$touch()"
            />

            <Checkbox
                name="confirmation"
                v-model:checked="registerForm.confirmation"
                content="Даю согласие на обработку персональных данных."
                @blur="registerValidator.password.$touch()"
            />

            <Button
                text="Зарегистрироваться"
                class="auth-form__button _green _small"
                @click-button="registerUser()"
            />
        </div>
    </div>
</template>

<script setup lang="ts">
import Button from '../../components/common/Button.vue';
import Input from '../../components/common/Input.vue';
import ButtonsMenu from '../../components/auth/ButtonsMenu.vue';
import { useHeaderStore } from '../../store/use-auth-menu';
import Checkbox from '../../components/common/Checkbox.vue';
import {reactive, ref} from 'vue';
import type { AuthFormData, RegisterFormData } from '../../abstracts/form-data';
import { authFormData, registerFormData } from '../../models/form-data';
import useAuthFormValidation from "../../composables/use-auth-form-validation";
import useRegisterFormValidation from "../../composables/use-register-validation";
import {useAuthStore} from "../../store/use-auth-store";
import Notification from "@/components/common/Notification.vue";

const authForm = reactive<AuthFormData>(authFormData);
const registerForm = reactive<RegisterFormData>(registerFormData);

const { register, login } = useAuthStore();

const {
    loginErrorMessage,
    passwordErrorMessage,
    authValidator,
    hasAuthEmptyField
} = useAuthFormValidation(authForm);

const {
    registerValidator,
    nameErrorMessage,
    surnameErrorMessage,
    emailErrorMessage,
    firstPasswordErrorMessage,
    repeatedPasswordErrorMessage,
} = useRegisterFormValidation(registerForm);
const { isEntry } = useHeaderStore();

const showNotification = ref(false);
const notificationMessage = ref('');
const isErrorNotification = ref(false);

// const registerUser = async () => {
//   try {
//     showNotification.value = false; // Скрываем предыдущее уведомление
//     const response = await register(registerForm);
//
//     if (response?.status === 201) {
//       notificationMessage.value = 'Письмо для подтверждения регистрации отправлено на почту';
//       isErrorNotification.value = false;
//     }
//
//     showNotification.value = true;
//   } catch (error) {
//     notificationMessage.value = (error as any).data.email ? (error as any).data.email[0] : 'Что-то пошло не так! Повторите попытку позже';
//     isErrorNotification.value = true;
//     showNotification.value = true;
//     console.error(error);
//   }
// };

const registerUser = async () => {
  try {
    showNotification.value = false; // Скрываем предыдущее уведомление
    const response = await register(registerForm);

    notificationMessage.value = 'Письмо для подтверждения регистрации отправлено на почту';
    isErrorNotification.value = false;
    showNotification.value = true;
    return response
  } catch (error) {
    notificationMessage.value = (error as any).data.email ? (error as any).data.email[0] : 'Что-то пошло не так! Повторите попытку позже';
    isErrorNotification.value = true;
    showNotification.value = true;
  }
};
</script>

<style scoped lang="scss">
.auth-form {
  padding: 25px 20px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: rgba(255, 255, 255, .16);
}
.auth-form__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

.auth-form__button {
        width: 250px;
        padding: 10px 20px;

        color: black;
  background-color: #4ab9a9;
    }
</style>
