<template>
    <div class="buttons-menu">
        <Button
            text="Вход"
            class="buttons-menu__left-button _green _small"
            :class="{
                '_active': isEntry
            }"
            @click="changeEntryStatus(true)"
        />

        <Button
            text="Регистрация"
            class="buttons-menu__right-button _green _small"
            :class="{
                '_active': !isEntry
            }"
            @click="changeEntryStatus(false)"
        />
    </div>
</template>

<script setup lang="ts">
import Button from '../../components/common/Button.vue';
import { useHeaderStore } from '../../store/use-auth-menu';

const { isEntry, changeEntryStatus } = useHeaderStore();
</script>

<style scoped lang="scss">
.buttons-menu {
  max-width: 400px;
  width: 100%;
  display: flex;
}

.buttons-menu__left-button {
  width: 200px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000; /* var(--c-black) */
  background-color: #4ab9a9;
}

.buttons-menu__left-button:not(._active) {
  background-color: rgba(195, 255, 226, 0.8); /* var(--c-green-light-transparent-080) */
}

.buttons-menu__right-button {
  width: 200px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #000; /* var(--c-black) */
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4ab9a9;

}

.buttons-menu__right-button:not(._active) {
  background-color: rgba(195, 255, 226, 0.8); /* var(--c-green-light-transparent-080) */

}
</style>
